<div class="container">
  <div class="patientMain">
    <div class="titlePatient">
      <h5><i class="fa fa-user"></i>Patient Search</h5>
    </div>
    <div class="searchPatient">
      <form  (submit)="searchPatient()" >
        <div class="form-row">
          <div class="form-group col-md-4">
            <label >Patient ID</label>
            <input type="text" class="form-control"  placeholder="Patient ID">
          </div>
          <div class="form-group col-md-4">
            <label >Name</label>
            <input type="text" [(ngModel)]="patient.firstname" name="firstname"  class="form-control"  placeholder="Name">
          </div>
          <div class="form-group col-md-4">
            <label>Last Name</label>
            <input type="text" [(ngModel)]="patient.lastname" name="lastname"  class="form-control"  placeholder="Family">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Gender</label>
            <select [(ngModel)]="patient.gender" name="gender"  id="inputState" class="form-control">
              <option value="Male" selected>Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label >Height</label>
            <input type="text" [(ngModel)]="patient.height" name="height" class="form-control"  placeholder="Family">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group borderValid col-md-4">
            <label>Creation Date After</label>
            <input type="date" class="form-control" placeholder="">
          </div>
          <div class="form-group borderValid col-md-4">
            <label>Creation Date Before</label>
            <input type="date" class="form-control" placeholder="">
          </div>
        </div>
        <div class="ButtonPatient">
          <!--<button type="button" class="btn btn-primary button-2 --bold" style="margin-right: 5px">Search<i class="fa fa-search"></i></button>-->
          <!--<button type="button" class="btn btn-btn-danger button-3 --bold">Reset<i class="fa fa-repeat" aria-hidden="true"></i></button>-->

          <button type="submit" class="btn btn-info">Search <i class="fa fa-search"></i></button>
          <button type="button" class="btn btn-danger">Reset<i class="fa fa-repeat" aria-hidden="true"></i></button>

        </div>
      </form>
    </div>
    <!--<hr/>-->

    <!--..............start for table..........-->
    <div class="tablePatient">
      <table class="table table-striped">
        <thead>
        <tr class="HeadTitle">
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Patient ID</th>
          <th scope="col">Gender</th>
          <th scope="col">Height</th>
          <th scope="col">Weight</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Status</th>
          <th scope="col">Create Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="firstCol">

          <td >1</td>
          <td  href="#"  (click)="open(content)">sara</td>
          <td  href="#"  >kalhor</td>
          <td  href="#"  >12</td>
          <td  href="#"  >Female</td>
          <td  href="#"  >170</td>
          <td  href="#"  >60</td>
          <td  href="#"  >1389-10-01</td>
          <td  href="#"  >active</td>
          <td  href="#"  >2019-01-05</td>

        </tr>
        </tbody>
      </table>
    </div>


    <!--<div *ngIf="patientList && patientList.length">-->
      <!--<div class="row justify-content-center">-->
        <!--<jhi-item-count [page]="pagination" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>-->
      <!--</div>-->
      <!--<div class="row justify-content-center">-->
        <!--<ngb-pagination [collectionSize]="totalItems" [(page)]="pagination" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(pagination,1)"></ngb-pagination>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>



<!--...............start modal---->
<ng-template id="hidePatient"  #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Surgery Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div  class="modalPatient" >
    <p><label>1- Surgery Note 12558888666 1/9/2019</label></p>

    <p><label>2- Surgery Note 12558854666 2/9/2019</label></p>
  </div>


  <div class="modal-footer">
    <div class="col-lg-5 col-md-5">
      <button type="button" class="btn btn-block btn-outline-primary"  (click)="btnClick()" >Show Detail<i class="fa fa-forward" aria-hidden="true"></i></button>
    </div>
    <!--<button type="button" class="btn btn-outline-dark button1"   (click)="btnClick()"> Show Details<i class="fa fa-forward" aria-hidden="true"></i></button>-->
  </div>
</ng-template>
<!--.........end modal......-->
