<form [formGroup]="form" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header ">
        <h4 class="modal-title" id="myClinicLabel">
            <span [hidden]="patient.id">
                Create Patient
            </span>
            <span [hidden]="!patient.id">
                Edit Patient
            </span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!clinic.id">-->

        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input [formControl]="id" type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="patient.id" readonly/>
        </div>

        <div class="personalInfo">
            <h2>Personal Information</h2>

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Name</label>
                        <input [formControl]="firstname" class="form-control validation-field" type="text"
                               name="firstname"
                               [(ngModel)]="patient.firstname" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('firstname').touched && form.get('firstname').hasError('required')">
                            Patient
                            Name is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Name is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Last Name</label>
                        <input [formControl]="lastname" class="form-control validation-field" type="text"
                               name="lastName"
                               [(ngModel)]="patient.lastname" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('lastname').touched && form.get('lastname').hasError('required')">Patient
                            Last Name
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Last Name is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Middle Name</label>
                        <input [formControl]="middlename" class="form-control validation-field" type="text"
                               name="middlename"
                               [(ngModel)]="patient.middlename" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('middlename').touched && form.get('middlename').hasError('required')">
                            Patient Middle Name
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Middle Name is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Postfix</label>
                        <input [formControl]="postfix" class="form-control validation-field" type="text"
                               name="postfix"
                               [(ngModel)]="patient.postfix" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('postfix').touched && form.get('postfix').hasError('required')">
                            Patient postfix
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient postfix is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Prefix</label>
                        <input [formControl]="prefix" class="form-control validation-field" type="text"
                               name="prefix"
                               [(ngModel)]="patient.prefix" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('prefix').touched && form.get('prefix').hasError('required')">
                            Patient prefix
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient prefix is not Unique
                        </small>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Birthday</label>
                        <input [formControl]="dateofbirth" class="form-control validation-field" type="date"
                               name="dateofbirth"
                               [(ngModel)]="patient.dateofbirth" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('dateofbirth').touched && form.get('dateofbirth').hasError('required')">Patient
                            Birthday
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Birthday is not Unique
                        </small>
                    </div>
                </div>


                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Age</label>
                        <input [formControl]="age" class="form-control validation-field" type="text" name="age"
                               [(ngModel)]="patient.age" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('age').touched && form.get('age').hasError('required')">Patient
                            Age
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Age is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Height</label>
                        <input [formControl]="height" class="form-control validation-field" type="text" name="height"
                               [(ngModel)]="patient.height" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('height').touched && form.get('height').hasError('required')">Patient
                            Height
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Height is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Weight</label>
                        <input [formControl]="weight" class="form-control validation-field" type="text" name="weight"
                               [(ngModel)]="patient.weight" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('weight').touched && form.get('weight').hasError('required')">Patient
                            Weight
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Weight is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Gender</label>
                        <select class="form-control" name="gender" [(ngModel)]="patient.gender" [formControl]="gender">
                            <option value="Ml">Male</option>
                            <option value="Fl">Female</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">display Name</label>
                        <input [formControl]="displayName" class="form-control validation-field" type="text" name="displayName"
                               [(ngModel)]="patient.displayName" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('displayName').touched && form.get('displayName').hasError('required')">Patient
                            display Name
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient display_name is not Unique
                        </small>
                    </div>
                </div>

            </div>

        </div>


        <div class="personalInfo">
            <h2>Account Information</h2>

            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Email Address</label>
                        <input [formControl]="emailAddress" class="form-control validation-field" type="text"
                               name="emailAddress"
                               [(ngModel)]="patient.emailAddress" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emailAddress').touched && form.get('emailAddress').hasError('required')">
                            Patient
                            Email Address is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Email Address is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Alt Email</label>
                        <input [formControl]="altEmail" class="form-control validation-field" type="text"
                               name="altEmail"
                               [(ngModel)]="patient.altEmail" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('altEmail').touched && form.get('altEmail').hasError('required')">Patient
                            Alt Email
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Alt Email is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Primary Email</label>
                        <input [formControl]="primaryEmail" class="form-control validation-field" type="text"
                               name="primaryEmail"
                               [(ngModel)]="patient.primaryEmail" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('primaryEmail').touched && form.get('primaryEmail').hasError('required')">
                            Patient Primary Email
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Primary Email is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Website</label>
                        <input [formControl]="website" class="form-control validation-field" type="text"
                               name="website"
                               [(ngModel)]="patient.website" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('website').touched && form.get('website').hasError('required')">Patient
                            Website
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Website is not Unique
                        </small>
                    </div>
                </div>

            </div>

        </div>



        <div class="personalInfo">
            <h2>Address Information</h2>
                <div class="form-group">
                        <label class="form-control-label">Address 1</label>
                        <input [formControl]="address1" class="form-control validation-field" type="text"
                               name="address1"
                               [(ngModel)]="patient.address1" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('address1').touched && form.get('address1').hasError('required')">
                            Patient
                            Address_1 is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Address_1 is not Unique
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Address 2</label>
                        <input [formControl]="address2" class="form-control validation-field" type="text"
                               name="address2"
                               [(ngModel)]="patient.address2" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('address2').touched && form.get('address2').hasError('required')">
                            Patient
                            Address_2 is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Address_2 is not Unique
                        </small>
                    </div>


            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">City</label>
                        <input [formControl]="city" class="form-control validation-field" type="text"
                               name="city"
                               [(ngModel)]="patient.city" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('city').touched && form.get('city').hasError('required')">
                            Patient
                            City is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient City is not Unique
                        </small>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Country</label>
                        <input [formControl]="country" class="form-control validation-field" type="text"
                               name="country"
                               [(ngModel)]="patient.country" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('country').touched && form.get('country').hasError('required')">
                            Patient
                            Country is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Country is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Zip</label>
                        <input [formControl]="zip" class="form-control validation-field" type="text"
                               name="zip"
                               [(ngModel)]="patient.zip" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('zip').touched && form.get('zip').hasError('required')">
                            Patient
                            Zip is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Zip is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Suit Number</label>
                        <input [formControl]="suitNumber" class="form-control validation-field" type="text"
                               name="suitNumber"
                               [(ngModel)]="patient.suitNumber" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('suitNumber').touched && form.get('suitNumber').hasError('required')">
                            Patient
                            Suit Number is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Suit Number is not Unique
                        </small>
                    </div>
                </div>
            </div>

        </div>


        <div class="personalInfo">
            <h2>Contact Information</h2>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Cell Phone</label>
                        <input [formControl]="cellPhone" class="form-control validation-field" type="text"
                               name="cellPhone"
                               [(ngModel)]="patient.cellPhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('cellPhone').touched && form.get('cellPhone').hasError('required')">
                            Patient
                            Cell Phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Cell Phone is not Unique
                        </small>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Office Phone</label>
                        <input [formControl]="officePhone" class="form-control validation-field" type="text"
                               name="officePhone"
                               [(ngModel)]="patient.officePhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('officePhone').touched && form.get('officePhone').hasError('required')">
                            Patient
                            Office Phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Office Phone is not Unique
                        </small>
                    </div>
                </div>



                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Other Phone</label>
                        <input [formControl]="otherPhone" class="form-control validation-field" type="text"
                               name="otherPhone"
                               [(ngModel)]="patient.otherPhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('otherPhone').touched && form.get('otherPhone').hasError('required')">
                            Patient
                            other_phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Other Phone  is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Home Phone</label>
                        <input [formControl]="homePhone" class="form-control validation-field" type="text"
                               name="homePhone"
                               [(ngModel)]="patient.homePhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('homePhone').touched && form.get('homePhone').hasError('required')">
                            Patient
                            home_phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient home_phone  is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Primary Phone</label>
                        <input [formControl]="primaryPhone" class="form-control validation-field" type="text"
                               name="primaryPhone"
                               [(ngModel)]="patient.primaryPhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('primaryPhone').touched && form.get('primaryPhone').hasError('required')">
                            Patient
                            Primary Phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Primary Phone is not Unique
                        </small>
                    </div>
                </div>



                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label class="form-control-label">Fax</label>
                        <input [formControl]="fax" class="form-control validation-field" type="text"
                               name="fax"
                               [(ngModel)]="patient.fax" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('fax').touched && form.get('fax').hasError('required')">
                            Patient
                            Fax is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Fax is not Unique
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="personalInfo">
            <h2>Emergency Information</h2>

            <div class="form-group">
                <label class="form-control-label">Emergency Contact Address</label>
                <input [formControl]="emergencyContactAddress" class="form-control validation-field" type="text"
                       name="emergencyContactAddress"
                       [(ngModel)]="patient.emergencyContactAddress" (ngModelChange)="validationReset()"/>
                <small class="text-danger"
                       *ngIf="form.get('emergencyContactAddress').touched && form.get('emergencyContactAddress').hasError('required')">
                    Patient
                    Emergency Contact Address is required
                </small>
                <small class="text-danger" *ngIf="duplicatedName">
                    The Patient Emergency Contact Address is not Unique
                </small>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact Name</label>
                        <input [formControl]="emergencyContactName" class="form-control validation-field" type="text"
                               name="emergencyContactName"
                               [(ngModel)]="patient.emergencyContactName" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emergencyContactName').touched && form.get('emergencyContactName').hasError('required')">
                            Patient Emergency Contact Name
                            is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Emergency Contact Name is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact City</label>
                        <input [formControl]="emergencyContactCity" class="form-control validation-field" type="text"
                               name="emergencyContactCity"
                               [(ngModel)]="patient.emergencyContactCity" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emergencyContactCity').touched && form.get('emergencyContactCity').hasError('required')">
                            Patient
                            Emergency Contact City is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Emergency Contact City is not Unique
                        </small>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact State</label>
                        <input [formControl]="emergencyContactState" class="form-control validation-field" type="text"
                               name="emergencyContactState"
                               [(ngModel)]="patient.emergencyContactState" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emergencyContactState').touched && form.get('emergencyContactState').hasError('required')">
                            Patient
                            Emergency Contact State is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            Emergency Contact State is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact Phone</label>
                        <input [formControl]="emergencyContactPhone" class="form-control validation-field" type="text"
                               name="emergencyContactPhone"
                               [(ngModel)]="patient.emergencyContactPhone" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emergencyContactPhone').touched && form.get('emergencyContactPhone').hasError('required')">
                            Patient
                            Emergency Contact Phone is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Emergency Contact Phone is not Unique
                        </small>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                        <label class="form-control-label">Emergency Contact Zip</label>
                        <input [formControl]="emergencyContactZip" class="form-control validation-field" type="text"
                               name="emergencyContactZip"
                               [(ngModel)]="patient.emergencyContactZip" (ngModelChange)="validationReset()"/>
                        <small class="text-danger"
                               *ngIf="form.get('emergencyContactZip').touched && form.get('emergencyContactZip').hasError('required')">
                            Patient
                            Emergency Contact Zip is required
                        </small>
                        <small class="text-danger" *ngIf="duplicatedName">
                            The Patient Emergency Contact Zip is not Unique
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || duplicatedName" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>