<div class="modal-header">
    <h4 class="modal-title">View Detail Patient</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body" *ngIf="patient">

    <h2><span>Patient</span> {{patient.id}}</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="titleView">
                <h3>Personal Information</h3>
            </div>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{patient.firstname}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{patient.lastname}}</span>
                </dd>
                <dt><span>Middle Name</span></dt>
                <dd>
                    <span>{{patient.middlename }}</span>
                </dd>
                <dt><span>prefix</span></dt>
                <dd>
                    <span>{{patient.prefix }}</span>
                </dd>
                <dt><span>postfix</span></dt>
                <dd>
                    <span>{{patient.postfix }}</span>
                </dd>

                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{patient.dateofbirth | date:'mediumDate'}}</span>
                </dd>
                <dt><span>Height</span></dt>
                <dd>
                    <span>{{patient.height }}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{patient.weight }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{patient.age }}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{patient.gender }}</span>
                </dd>
                <dt><span>Display Name</span></dt>
                <dd>
                    <span>{{patient.displayName }}</span>
                </dd>

                <div class="titleView">
                    <h3>Emergency Information</h3>
                </div>
                <dt><span>Emergency Contact Name</span></dt>
                <dd>
                    <span>{{patient.emergencyContactName }}</span>
                </dd>

                <dt><span>Emergency Contact Address</span></dt>
                <dd>
                    <span>{{patient.emergencyContactAddress }}</span>
                </dd>

                <dt><span>Emergency Contact City</span></dt>
                <dd>
                    <span>{{patient.emergencyContactCity }}</span>
                </dd>

                <dt><span>Emergency Contact Zip</span></dt>
                <dd>
                    <span>{{patient.emergencyContactZip }}</span>
                </dd>

                <dt><span>Emergency Contact State</span></dt>
                <dd>
                    <span>{{patient.emergencyContactState }}</span>
                </dd>

                <dt><span>Emergency Contact Phone</span></dt>
                <dd>
                    <span>{{patient.emergencyContactPhone }}</span>
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            <div class="titleView">
                <h3>Account Information</h3>
            </div>

            <dt><span>Email Address</span></dt>
            <dd>
                <span>{{patient.emailAddress}}</span>
            </dd>

            <dt><span>Primary Email</span></dt>
            <dd>
                <span>{{patient.primaryEmail }}</span>
            </dd>

            <dt><span>Alt Email</span></dt>
            <dd>
                <span>{{patient.altEmail }}</span>
            </dd>

            <dt><span>Website</span></dt>
            <dd>
                <span>{{patient.website }}</span>
            </dd>

            <div class="titleView">
                <h3>Address Information</h3>
            </div>


            <dl class="row-md jh-entity-details">
                <dt><span>Address1</span></dt>
                <dd>
                    <span>{{patient.address1 }}</span>
                </dd>
                <dt><span>Address2</span></dt>
                <dd>
                    <span>{{patient.address2 }}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{patient.country }}</span>
                </dd>
                <dt><span>Zip</span></dt>
                <dd>
                    <span>{{patient.zip}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{patient.city }}</span>
                </dd>
                <div class="titleView">
                    <h3>Contact Information</h3>
                </div>
                <dt><span>Primary Phone</span></dt>
                <dd>
                    <span>{{patient.primaryPhone }}</span>
                </dd>
                <dt><span>Cell Phone</span></dt>
                <dd>
                    <span>{{patient.cellPhone }}</span>
                </dd>
                <dt><span>Home Phone</span></dt>
                <dd>
                    <span>{{patient.homePhone }}</span>
                </dd>
                <dt><span>Fax</span></dt>
                <dd>
                    <span>{{patient.fax }}</span>
                </dd>
                <dt><span>Office Phone</span></dt>
                <dd>
                    <span>{{patient.officePhone }}</span>
                </dd>
                <dt><span>Other Phone</span></dt>
                <dd>
                    <span>{{patient.otherPhone }}</span>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <!--<button type="submit" class="btn btn-danger">-->
    <!--<span class="fa fa-remove"></span>&nbsp;<span>Delete</span>-->
    <!--</button>-->
</div>


