<div>
  <h2>
    <span>Patients</span>


    <button class="btn btn-primary float-right jh-create-entity create-clinic" (click)="addPatient()">
      <span class="fa fa-plus"></span>
      <span>
            Create new Patient
            </span>
    </button>

  </h2>
  <div class="row">
  </div>
  <br/>
  <div class="table-responsive" *ngIf="patients">
    <table class="table table-striped">
      <thead>
      <tr  jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
        <th  jhiSortBy="id" width="25%"><span>ID</span> <span class="fa fa-sort"></span></th>

        <th  jhiSortBy="first_name"  width="25%"><span>Name</span> <span class="fa fa-sort"></span></th>

        <th jhiSortBy="last_name" width="25%"><span>lastName</span> <span class="fa fa-sort"></span></th>
        <th width="25%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients">

        <td >{{patient.id}}</td>

        <td>{{patient.firstname}}</td>

        <td>{{patient.lastname}}</td>

        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    (click)="detailPatient(patient.id)"
                    class="btn btn-info btn-sm">
              <span class="fa fa-eye"></span>
              <span class="d-none d-md-inline">View</span>
            </button>
            <button type="submit"
                    (click)="editPatient(patient.id)"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm">
              <span class="fa fa-pencil"></span>
              <span class="d-none d-md-inline">Edit</span>
            </button>
            <button type="submit"
                    (click)="deletePatient(patient.id)"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-danger btn-sm">
              <span class="fa fa-remove"></span>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patients && patients.length">
    <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>
    <div class="row justify-content-center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="10" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
    </div>
  </div>
</div>
