
.form-group-clinic .ng-invalid:not(form) {
  float: right;
  width: 100%;

}
.form-group-clinic .ng-valid:not(form) {
  float: right;
  width: 100%;

}

.app.combined .vertical-tabs .nav .nav-item .nav-link.active {
    background-color: #eaeaea;
}

.inlineRadio > p, input.form-check-input {
  display: inline-block;
}

.radioInlineRight input.form-check-input {
  float: right !important;
}

.titleForm h3 {
  margin: 20px 0px;
}

.borderNot .ng-invalid:not(form) {
  border-left: none !important;
}

.pages h2 {
  margin: 20px 0px;
}

.paddingTextarea .col-md-6 {
  padding-left: 0px !important;
}

.paddingTextarea .col-md-4 {
  padding-left: 0px !important;
}

.paddingTextarea .col-md-12 {
  padding-left: 0px !important;
}

.page1 {
  border: 1px solid #8080802b;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.titlePage {
  padding: 15px;
}

.titlePage > i, h2 {
  display: inline-block;
}

.titlePage i {
  font-size: 25px;
  padding-right: 7px;
  color: #747974d1;
}

.titlePage h2 {
  color: #747974d1;
}

.titleForm h3 {
  color: #8080808c;
  border-bottom: 1px solid #a94442;
  padding-bottom: 12px;
}

.page1 button.btn-primary {
  margin: 20px 0px;
}

.validColor input.form-control {
  border-left: 5px solid #a94442 !important;
}

/*.paddingNo .col-md-6{*/
/*padding-left: 15px !important;*/
/*}*/
.panel-heading button.btn-danger {
  margin-top: 10px;
}

.backgroundIncrement {
  margin: 20px 0px;
}

//.backgroundIncrement span {
//  background-color: green;
//  color: white;
//  padding: 5px;
//
//}

.textJust {
  text-align: justify;
}

.backgroundIncrement{
  margin: 20px 0px;
}
.backgroundIncrement span{
  background-color: #615f5f;
  color: white;
  padding: 5px 10px;
  border-radius: 3px; }

.borderGrid{
    border: 1px dashed #9c9396;
    padding: 15px;
  }
.buttonDanger button.btn-danger{
  margin-top: 23px;
}
.textForm p{
  font-weight: bold;
  color:#787777;
}
.internshipLabel label{
  font-size: 13px;

}
.margin-20{
  margin-top: 15px;
}
.labelText label{
  font-size: 13px;

}
.justifyText{
  text-align: justify;
}
.internshipValid .ng-invalid{
  border-left: 0px solid white !important;
}
.borderValid .ng-invalid:not(form)  {
  border-left: 5px solid #a94442 !important; /* red */
}
.internshipFont label{
  font-size: 13px;
}

.internshipFont p{
  font-size: 13px;
}

.internshipValid .ng-invalid{
  border-left: 0px solid white !important;
}
.checkboxMargin{
  margin-bottom: 20px;
}

.aosmValid .ng-invalid {
  border-left: 0px solid white !important;
}
.trainingValid .ng-invalid {
  border-left: 0px solid white !important;
}
.hospitalValid .ng-invalid {
  border-left: 0px solid white !important;
}
.FloatRight .form-check-inline {
  float: right !important;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin-left: -10px;
}
.checkboxMargin label{
  color: #565656;
  margin-left: 5px;
  font-size: 15px !important;
  font-weight: 600;
}
.noticeCheckbox i.fa-bell-o{
  font-size: 20px;
  color: #a94442 ;
}
.noticeCheckbox .col-md-10{
  padding-left: 0px !important;
}
.noticeCheckbox input#defaultCheck1{
  margin-left: 17px;
}
.noticeCheckbox input#defaultCheck5{
  margin-left: 17px;
}
.noticeCheckbox input#defaultCheck2{
  margin-left: 17px;
}
.noticeCheckbox input#defaultCheck4{
  margin-left: 17px;
}

.noticeCheckbox input#defaultCheck6{
  margin-left: 17px;
}

.noticeCheckbox input#defaultCheck7{
  margin-left: 17px;
}

.noticeCheckbox .form-check-input{
  margin-top: 0.5rem !important;
}
.noticeCheckbox .inputML{
  margin-top: 0.2rem !important;
}
.noticeCheckbox .col-md-12{
  padding-left: 0px !important;
}
.btnRemove .btn{
  padding: 0.375rem 0.55rem;
  font-size: 1rem;
  line-height: 0.5;
}
.mlCertification1Valid .borderGrid{
  margin-bottom: 15px;
}
.mlCertification1Valid .backgroundIncrement{
  margin: 10px 0px;
}
.page1Label label{
  font-size: 12px;
}
.mlCertification1Valid .ng-invalid {
  border-left: 0px solid white !important;
}
.iconSave i.fa-check-circle-o{
  font-size: 20px;
  color: green;
  margin-right: 2px;
}

.iconSave i.fa-exclamation-circle{
  font-size: 20px;
  color: red;
  margin-right: 2px;
}
.colorRow li:hover{
  background-color: #00acc13d !important;
}
.colorRow{
  background-color: #d7effaad !important;
}
.userCrd i.fa-user-circle-o{
  color: #00acc1 !important;
}
.iconSave a.active{
  background-color: #00acc13d;
}