
    <!--<div class="modal-header">-->
        <!--<h4 class="modal-title" id="myPositionLabel">-->
            <!--<span>-->
                <!--Reject Email-->
            <!--</span>-->
            <!--&lt;!&ndash;<span [hidden]="!position.id">&ndash;&gt;-->
                <!--&lt;!&ndash;Edit Position&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--</h4>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"-->
                <!--(click)="clear()">&times;</button>-->
    <!--</div>-->
    <!--<div class="modal-body">-->

        <!--<span>-->
          <!--This is the pre employee Id :   {{employee.emailAddress}}-->
        <!--</span>-->

        <!--<ckeditor-->
                <!--[(ngModel)]="ckeditorContent"-->
                <!--[config]="{uiColor: '#99000'}"-->
                <!--[readonly]="false"-->
                <!--(change)="onChange($event)"-->
                <!--(editorChange)="onEditorChange($event)"-->
                <!--(ready)="onReady($event)"-->
                <!--(focus)="onFocus($event)"-->
                <!--(blur)="onBlur($event)"-->
                <!--(contentDom)="onContentDom($event)"-->
                <!--(fileUploadRequest)="onFileUploadRequest($event)"-->
                <!--(fileUploadResponse)="onFileUploadResponse($event)"-->
                <!--(paste)="onPaste($event)"-->
                <!--(drop)="onDrop($event)"-->
        <!--debounce="500">-->
        <!--</ckeditor>-->

        <!--&lt;!&ndash;<div froalaEditor>Hello, Froala!</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">-->
            <!--<span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>-->
        <!--</button>-->
        <!--<button type="button" (click)="save()" class="btn btn-primary">-->
            <!--<span class="fa fa-save"></span>&nbsp;<span>Save</span>-->
        <!--</button>-->
    <!--</div>-->
