<!--.. start MARKETING QUESTIONS fOR Sono Bello Physician Website Bio..-->

<fieldset [disabled]=isSubmitted>
    <form [formGroup]="formJobDescription" name="editForm" role="form" novalidate (ngSubmit)="save()"
          #editFormFive="ngForm">


        <!--.. start JOB DESCRIPTION Physician/Surgeon..-->
        <div class="borderForm">
            <div class="container mainPage">
                <div class="paddingMain">
                    <div class="titlePageSpecial">
                        <h2>JOB DESCRIPTION</h2>
                        <p>Physician/Surgeon</p>
                    </div>
                    <form>
                        <div class="textPage">
                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong>Job Title:</strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Physician / Surgeon </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong>Reports To: </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>One of the following (all herein after referred to as “Practice”): </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Aesthetic Physicians, PC </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Aesthetic Physicians of California, Inc.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Aesthetic Physicians of Colorado, PC</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Aesthetic Physicians of Kansas Professional Association</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> </strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Aesthetic Physicians of Massachusetts, PC </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-1">
                                    <p><strong> FLSA:</strong></p>
                                </div>
                                <div class="col-md-10">
                                    <p>Exempt </p>
                                </div>
                            </div>
                            <p><strong>GENERAL DUTIES AND RESPONSIBILITIES </strong>include but are not limited to the
                                following:</p>

                            <div class="tidyList">
                                <ul class="b">
                                    <li><p>To provide Professional Services in the specialty areas of tumescent
                                        liposuction,
                                        laser lipolysis, facial surgery, and other Professional Services as
                                        determined.</p></li>
                                    <li><p>Receive adequate training and supervise clinic staff in
                                        VelaShape<sup>TM</sup> and/or
                                        VENUS LEGACY<sup>TM</sup> contouring and other equipment use provided in the
                                        clinic.
                                        This includes a screening exam/good faith exam with each new patient.</p></li>
                                    <li><p>Maintain currency with the relevant medical practice. Physician shall devote
                                        required
                                        attention and best efforts to the utmost of Physician’s skill to the rendering
                                        of
                                        Professional Services for Practice. </p></li>
                                    <li><p>Physician shall be available after hours for clinical conditions of patients
                                        or
                                        surgical complications as may be determined by Practice and Physician. </p></li>
                                    <li><p>To comply with the professional standards of Practice, with the standard
                                        policies and
                                        procedures of Practice, with applicable agreements between Practice and other
                                        entities
                                        with which Practice may contract, with applicable rules and regulations of
                                        professional
                                        societies and the standards of professional organizations through or under which
                                        Practice is accredited, as they now exist or may hereafter be amended, and with
                                        other
                                        applicable rules and regulations.</p></li>
                                    <li><p>Actively participate in peer evaluations and quality assurance/improvement
                                        and peer
                                        review activities as required by Practice. </p></li>
                                    <li><p>Conform to quality improvement procedures of Practice and to participate in
                                        any case
                                        management review of Physician’s cases as may be required by Practice.</p></li>
                                    <li><p>Conform to Practice’s requirements and all applicable law for charting and
                                        documentation to enable Practice to provide timely billing and to timely create
                                        patient
                                        medical records, and to conform to and utilize fully and efficiently Practice
                                        support
                                        services or methods such as information technology, electronic medical records,
                                        transcription services or other infrastructure methods or services as determined
                                        or
                                        selected from time to time by Practice. </p></li>
                                    <li><p>Appear and act in a professional and courteous manner at all times when
                                        dealing with
                                        other physicians, patients, clients, employees, consultants, other independent
                                        contractors, vendors and other parties with whom Practice has a business
                                        relationship.</p></li>
                                    <li><p>Maintain current license to practice medicine in the State and any other
                                        necessary
                                        professional licensures and specialty certifications as set forth herein through
                                        successful completion of continuing medical education requirements.</p></li>
                                    <li><p>Conform to Practice’s facilities and ancillary services usage including
                                        scheduling
                                        and coverage, and referral patterns, as established or directed by Practice,
                                        consistent
                                        with applicable law.</p></li>
                                    <li><p>Immediately notify Practice in writing of any incident which will or could
                                        result in
                                        a claim against or loss to Practice or Physician in connection with Physician’s
                                        professional services.</p></li>
                                    <li><p>Comply with and be subject to Practice policies and procedures and
                                        directives,
                                        including all citizenship requirements such as timeliness, schedule adherence,
                                        appropriate dress, professionalism, and interpersonal interactions.</p></li>
                                    <li><p>Maintain active staff privileges at a hospital if and as required by
                                        applicable State
                                        law.</p></li>
                                    <li><p>Obtain appropriate patient informed consent (verbal and written), and provide
                                        all
                                        appropriate pre- and post-care services to patients. Support and participate in
                                        Practice
                                        marketing efforts of not more than 2 hours per month without compensation. </p>
                                    </li>
                                    <li><p>Consent to release of information for facility accreditation or licensing, to
                                        medical
                                        boards, Care Credit, in house medication programs and for other business needs
                                        so long
                                        as it is for informational purposes only.</p></li>
                                    <li><p>Physician agrees to perform such other duties as Practice may reasonably
                                        direct.</p>
                                    </li>
                                </ul>
                            </div>

                            <p><strong>QUALIFICATIONS, EDUCATION and CERTIFICATIONS </strong></p>
                            <div class="tidyList">
                                <ul class="b">
                                    <li><p>Degree of Doctor of Medicine or Doctor of Osteopathy </p></li>
                                    <li><p>Physician have or be eligible for an active Controlled Substance Registration
                                        Certificate through the Drug Enforcement Administration as well as an active
                                        licensure
                                        in the state of Practice location. </p></li>
                                    <li><p>Must have reasonable liability claims history along with clean criminal
                                        record. </p>
                                    </li>
                                    <li><p>Physician must be board eligible or board certified in one of the following
                                        surgical
                                        specialties or subspecialties:</p></li>
                                </ul>
                            </div>

                            <div class="tidyList">
                                <ul class="c">
                                    <li><p>General Surgery</p></li>
                                    <li><p>Plastic Surgery</p></li>
                                    <li><p>Otolaryngology/ENT</p></li>
                                    <li><p>Facial Plastic Surgery</p></li>
                                </ul>
                            </div>
                            <div class="tidyList">
                                <ul class="b">
                                    <li><p>Membership of the American Society of Plastic Surgeons, American Academy of
                                        Facial
                                        Plastic and Reconstructive Surgery or the American Academy of Cosmetic Surgery
                                        is
                                        preferred.</p></li>
                                    <li><p>Physician must be Advanced Cardiac Life Support Certified.</p></li>
                                </ul>
                            </div>

                            <p><strong>SKILLS and ADDITIONAL TRAINING:</strong></p>
                            <div class="tidyList">
                                <ul class="b">
                                    <li><p>To perform this job successfully, an individual must be able to perform each
                                        essential duty satisfactorily demonstrating the knowledge, skill, and/or ability
                                        required.</p></li>
                                    <li><p>Prior experience, training and/or demonstrated competency to include the
                                        following as
                                        applicable: </p></li>
                                </ul>
                                <ul class="c">
                                    <li><p>Body Liposuction</p></li>
                                    <li><p>Facial Surgery</p></li>
                                    <li><p>Awake Procedures without General Anesthesia </p></li>
                                    <li><p>Tumescent Technique</p></li>
                                    <li><p>Fat Transfer with Revision</p></li>
                                    <li><p>Fat Transfer-Primary</p></li>
                                    <li><p>Power Assisted Liposuction (PAL)</p></li>
                                    <li><p>Laser Assisted Liposuction (LAL)</p></li>
                                </ul>
                                <ul class="b">
                                    <li><p>Prior experience, training and/or demonstrated competency in other procedures
                                        to be
                                        performed.</p></li>
                                </ul>
                            </div>

                            <p><strong>I have read and understand the job description and role of a Physician / Surgeon
                                working
                                for Sono Bello. Any questions relating to above expectations were answered thoroughly
                                and
                                carefully</strong></p>

                        </div>

                        <div class="row textPage">
                            <div class="form-group borderValid col-md-6">
                                <label>Printed Name: </label>
                                <input style="text-transform: uppercase" type="text" class="form-control" placeholder="" name="printedNameJobDescription"
                                       [formControl]="printedNameJobDescription"
                                       [(ngModel)]="appFormJobDescription.printedNameJobDescription">
                            </div>
                            <div class="form-group borderValid col-md-6">
                                <label>Date</label>
                                <input type="date" class="form-control" placeholder=""
                                       name="dateJobDescription" [formControl]="dateJobDescription"
                                       (input)="appFormJobDescription.dateJobDescription=$event.target.value">
                            </div>

                        </div>
                    </form>

                    <div class="endButton">

                        <button type="submit" [disabled]="editFormFive.form.invalid || isSaving "
                                class="btn btn-primary">
                            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                        </button>

                        <button type="button" class="btn btn-gray" (click)="submit()"><span>Submit</span></button>
                    </div>
                    <div style="margin-top: 10px">
                        <ngb-alert *ngIf="confirmSaveMsgForm" (close)="confirmSaveMsgForm=false" type="success"
                                   onclose="close()"> The form has been saved successfully
                        </ngb-alert>
                        <ngb-alert *ngIf="errorSaveMsgForm" (close)="errorSaveMsgForm=false" type="danger"
                                   onclose="close()"> Problem Saving form
                        </ngb-alert>

                    </div>
                    <div >
                        <ngb-alert *ngIf="confirmSubmitFormMsg" (close)="confirmSubmitFormMsg=false"  type="success"
                                   onclose="close()"> Submitted Successfully
                        </ngb-alert>
                        <ngb-alert *ngIf="errorSubmitFormMsg" (close)="errorSubmitFormMsg=false" type="danger"
                                   onclose="close()"> Problem Submitting Form
                        </ngb-alert>
                    </div>
                </div>

            </div>

        </div>
        <!--.. end JOB DESCRIPTION Physician/Surgeon..-->


    </form>
</fieldset>

<!--.. end MARKETING QUESTIONS fOR Sono Bello Physician Website Bio..-->
