.titlePage h2{
  color: #747974d1;
  text-align: center;
  margin: 20px 0px;
  border-bottom: 1px solid #a94442;
  padding-bottom: 12px;
}

.mainPage{
  border: 1px solid #8080802b;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.textPage{
  text-align: justify;
}
.textPage h5{
  text-align: left;
  margin: 20px 0px;
}
.textPage p{
  font-size: 17px;
  color: black;
}
.textPage h5{
  font-size: 17px;
  color: black;
}
.textPage label{
  color: black;

}
.inlineRadio>p,input.form-check-input{
  display: inline-block;
}
.paddingMain{
  padding: 50px 80px;
}

.borderForm{
  //border: 2px double grey;
  border-style: double;
  margin-bottom: 60px;
  color: #b5bebe;

}
//.statementInline>p,div.col-md-2{
//  display: inline-block;
//  float: left;
//
//}
.statementInline .col-md-2{
  padding-left: 0px !important;
}
.titlePageSpecial h2{
  text-align: center;
  color: #747974d1;
  margin-top: 20px;
}
.titlePageSpecial p{
  color: #747974d1;
  text-align: center;
  margin: 20px 0px;
  border-bottom: 1px solid #a94442;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}
.tidyList ul.b{
  list-style-type: disc;
  font-size: medium;
  color: black;
}
.tidyList ul.c{
  list-style-type: circle;
  font-size: medium;
  color: black;
  margin-left: 50px;
}

.tidyList ul.d{
  list-style-type: disc;
  font-size: medium;
  color: black;
  margin-left: 50px;
}

.centeringCheckbox input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.3); /* IE */
  -moz-transform: scale(2.3); /* FF */
  -webkit-transform: scale(2.3); /* Safari and Chrome */
  -o-transform: scale(2.3); /* Opera */
  //padding: 10px;
  margin-top: 35px;
}
.centeringCheckbox input[type=text]{
  margin-left: 28px;
}
.centeringCheckbox .form-group label{
  margin-left: 33Px;
}

.inlineCheckbox>.form-check , .form-group{
  display: inline-block;
  //width: 80% !important;
}
//.inlineCheckbox .form-control{
//  width: 777px !important;
//}
.inlineCheckbox input[type = checkbox]{
  -ms-transform: scale(1.7); /* IE */
  -moz-transform: scale(1.7); /* FF */
  -webkit-transform: scale(1.7); /* Safari and Chrome */
  -o-transform: scale(1.7); /* Opera */
}
.labelCheck .form-check-label{
  margin-right: 40px;
  margin-left: 5px;
}
.inlineCheckbox label{
  font-size: 17px;

}
.ab{
  width: 10%;
}
.textPage hr{
  background-color: gray;
}
@media (max-width: 500px){
  .titlePage  h2{
    font-size: 17px;
  }
  .paddingMain{
    padding: 20px 8px;
  }
  .inlineCheckbox .form-control{
    width: 200px !important;
  }
  .paddingLeft .form-check{
    padding-left: 0px !important;
  }
}
@media (max-width: 769px) {
  .bigWidth {
    display: none;
  }
  .paddingLeft .form-check{
    padding-left: 15px !important;
  }
  .inlineCheckbox .form-control{
    width: 100% !important;
  }
}

@media (min-width: 769px){
  .minWidth {
    display: none
  }
}

@media (min-width: 769px ) and (max-width: 1100px) {
  .paddingMain{
    padding: 10px 25px;
  }
}

.statementInline p, .statementInline div {
  display: inline-block;
}