<div class="MarginTab2">
  <div class="tab2">
    <div class="tabMain chosen"><i class="fa fa-globe" aria-hidden="true"></i><h4>All Photos</h4></div>
    <div class="tabMain"><i class="mdi mdi-view-carousel"></i><h4>Carousel</h4></div>
    <div class="tabMain"><i class="fa fa-compress" aria-hidden="true"></i><h4>Compare Image</h4></div>
    <div class="tabMain"><i class="fa fa-filter" aria-hidden="true"></i><h4>Filter on Image</h4></div>
    <div class="tabMain"><i class="fa fa-print" aria-hidden="true"></i><h4>Print</h4></div>
  </div>

  <!--............start gallery....................-->

  <div class="page2">
    <div class="pageMain shown">
      <div class="card1">

        <div id="gallery">
          <div class="">
            <div id="image-gallery">
              <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image hover-overlay" *ngFor="let row of photoImg">
                  <div class="img-wrapper">
                    <a [href]="row.image"><img [src]="row.image" class="img-responsive"></a>
                    <div class="img-overlay" (click)="openPicture()">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>

                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                  <div class="img-wrapper">
                    <a href="https://unsplash.it/600">
                      <img src="https://unsplash.it/600"
                           class="img-responsive"></a>
                    <div class="img-overlay">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">-->
                  <!--<div class="img-wrapper">-->
                    <!--<a href="https://unsplash.it/700"><img src="https://unsplash.it/700"-->
                                                           <!--class="img-responsive"></a>-->
                    <!--<div class="img-overlay">-->
                      <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">-->
                  <!--<div class="img-wrapper">-->
                    <!--<a href="https://unsplash.it/800"><img src="https://unsplash.it/800"-->
                                                           <!--class="img-responsive"></a>-->
                    <!--<div class="img-overlay">-->
                      <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">-->
                  <!--<div class="img-wrapper">-->
                    <!--<a href="https://unsplash.it/900"><img src="https://unsplash.it/900"-->
                                                           <!--class="img-responsive"></a>-->
                    <!--<div class="img-overlay">-->
                      <!--<i class="fa fa-plus-circle" aria-hidden="true"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->


              </div><!-- End row -->
            </div><!-- End image gallery -->
          </div><!-- End container -->
          <!--<div id="overlay"></div>-->
        </div>
      </div>


    </div>
    <!--............start slider....................-->

    <div class="pageMain">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <!--<h3 class="card-title">Carousel</h3>-->
              <!--<h6 class="card-subtitle">This is basic Carousel</h6>-->
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="../../assets/img/medical1.jpg" alt="Random first slide">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../../assets/img/medical2.jpg" alt="Random second slide">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../../assets/img/medical3.jpg" alt="Random third slide">
                  <div class="carousel-caption">
                    <h3 class="text-white font-bold">Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--..............start drag and drop........................-->

    <div class="pageMain">
      <div class="card1">
        <div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i>
          <p>To compare images,
            please drag and drop the photos into black rectangle .</p></div>
        <div class="container">
          <!--<h2>Drag and Drop</h2>-->
          <div class="mainComponent">
            <div id="div1"
                 (drop)="drop($event)"
                 (dragover)="allowDrop($event)">
              <div class="row">

                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/1.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag1"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/2.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag2"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag3"
                  >
                </div>

                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag4"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag5"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag6"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag7"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag8"
                  >
                </div>
                <div class="col-md-3 imgCompare">
                  <img
                    src="../../../assets/img/3.jpg"
                    draggable="true"
                    (dragstart)="drag($event)"
                    id="drag9"
                  >
                </div>

              </div>
            </div>


          </div>

        </div>




        <div class="container row">
          <div class="ba-slider" id="div2"
               (drop)="drop($event)"
               (dragover)="allowDrop($event)">
            <img class="divTw" src=""/>
            <div class="resize">
              <img class="divTw" src=""/>
            </div>
            <span class="handle"></span>
          </div>
        </div>



      </div>
    </div>


    <!--.................start filter on Images......................-->

    <div class="pageMain">
      <div class="card1">
        <!--<section>-->
        <div id="selectionbar"></div>
        <div id="dynaflex" *ngFor="let item of itemSurgeryes ;">
          <!--<figure data-group="{{item.name1}}">-->
          <!--<img src="../../../assets/img/lipo1.jpg" alt>-->
          <!--</figure>-->
          <!--<figure data-group="{{item.name1}}">-->
          <!--<img src="../../../assets/img/lipo2.jpg" alt>-->
          <!--</figure>-->
          <!--<figure data-group="{{item.name1}}">-->
          <!--<img src="../../../assets/img/lipo3.jpg" alt>-->
          <!--</figure>-->
          <!--<figure data-group="{{item.name2}}">-->
          <!--<img src="../../../assets/img/eye-surgery2.jpg" alt>-->
          <!--</figure>-->
          <!--<figure data-group="{{item.name2}}">-->
          <!--<img src="../../../assets/img/eye-surgery3.jpg" alt>-->
          <!--</figure>-->
          <!--<figure data-group="{{item.name3}}">-->
          <!--<img src="../../../assets/img/micro1.jpg" alt>-->
          <!--</figure>-->
          <figure data-group="Microneedling">
            <img src="../../../assets/img/micro2.jpg" alt>
          </figure>
          <figure data-group="Microneedling">
            <img src="../../../assets/img/micro3.jpg" alt>
          </figure>
          <figure data-group="Microneedling">
            <img src="../../../assets/img/micro4.jpg" alt>
          </figure>


        </div>
        <!--</section>-->
      </div>
    </div>
    <div class="pageMain">
      <div class="card1">
        <div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong><p>Please fill the
          checkbox to print your Images .</p></strong></div>

        <div class="printPhoto">
          <div class="row">

            <div class="col-md-3">
              <div class="imgPrint">
                <img src="../../../assets/img/lipo1.jpg">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck2">
                  <label class="form-check-label">Print</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgPrint">
                <img src="../../../assets/img/lipo2.jpg">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck3">
                  <label class="form-check-label">Print</label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="imgPrint">
                <div id="demo">
                  <img src="../../../assets/img/lipo3.jpg">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck4">
                  <label class="form-check-label">Print</label>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-2 col-md-4">
          <button type="button" class="btn btn-block btn-outline-success" (click)="print()">Print <i
            class="fa fa-print"></i></button>
        </div>
      </div>
    </div>

  </div>
</div>
