

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Surgery Note</h4>
    <button type="button" class="close" aria-label="Close" (click)="clear()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modalPatient">
    <p><label>1- Surgery Note 12558888666 1/9/2019</label></p>

    <!--<p><label>2- Surgery Note 12558854666 2/9/2019</label></p>-->
</div>


<div class="modal-footer">
    <div class="col-lg-5 col-md-5">
        <button type="button" class="btn btn-block btn-outline-primary" (click)="showDetail(patientEdit)">Show Detail
            <i class="fa fa-forward" aria-hidden="true"></i></button>
    </div>
    <!--<button type="button" class="btn btn-outline-dark button1"   (click)="btnClick()"> Show Details<i class="fa fa-forward" aria-hidden="true"></i></button>-->
</div>