
.modalPatient {
    padding: 20px;
    font-family: Arial;
}
.modalPatient i.fa-user{
    margin-right: 5px;
}
.modal-header .modal-title{
    font-family: "Cambria", cursive, sans-serif;
    font-size: 20px;
    color: #009da0;
}
.modal-footer i.fa-forward{
    margin-left: 15px;
}
.modal-footer .btn-outline-primary{
    width: 148px !important;
    float: right;
    font-family: Cambria;
}