<div class="container">
    <div class="patientMain">
        <div class="titlePatient">
            <h5><i class="fa fa-user"></i>Patient Search</h5>
        </div>
        <div class="searchPatient">
            <form (submit)="searchPatient()">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Patient ID</label>
                        <input type="text" [(ngModel)]="patient.id" name="id" class="form-control" placeholder="Patient ID">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="patient.firstname" name="firstname" class="form-control"
                               placeholder="Name">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Last Name</label>
                        <input type="text" [(ngModel)]="patient.lastname" name="lastname" class="form-control"
                               placeholder="Family">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Gender</label>
                        <select [(ngModel)]="patient.gender" name="gender" id="inputState" class="form-control">
                            <option value="Ml" selected>Male</option>
                            <option value="Fl">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Height</label>
                        <input type="number" [(ngModel)]="patient.height" name="height" class="form-control"
                               placeholder="Height">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group borderValid col-md-4">
                        <label>Creation Date After</label>
                        <input type="date" class="form-control"  name="start" [(ngModel)]="fromDate" (ngModelChange)="searchPatientDetail($event)" placeholder="">
                    </div>
                    <div class="form-group borderValid col-md-4">
                        <label>Creation Date Before</label>
                        <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="searchPatientDetail($event)"  placeholder="">
                    </div>
                </div>
                <div class="ButtonPatient">
                    <!--<button type="button" class="btn btn-primary button-2 &#45;&#45;bold" style="margin-right: 5px">Search<i class="fa fa-search"></i></button>-->
                    <!--<button type="button" class="btn btn-btn-danger button-3 &#45;&#45;bold">Reset<i class="fa fa-repeat" aria-hidden="true"></i></button>-->

                    <button type="submit" class="btn btn-info">Search <i class="fa fa-search"></i></button>
                    <button type="button" (click)="clickReset()" class="btn btn-danger">Reset<i class="fa fa-repeat" aria-hidden="true"></i>
                    </button>

                </div>
            </form>
        </div>
        <!--<hr/>-->

        <!--..............start for table..........-->
        <div class="tablePatient" style="overflow-x:auto;" *ngIf="resultAvailabe">
            <table class="table table-striped">
                <thead>
                <tr class="HeadTitle" jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                    [callback]="transition.bind(this)">
                    <th scope="col">Number</th>
                    <!--<th scope="col">First Name</th>-->
                    <th (click)="loadPage2('firstname')" jhiSortBy="patient.id">
                        <span>First Name</span>
                        <i *ngIf="sortList === 'firstname' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'firstname' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>
                    <th (click)="loadPage2('lastname')" jhiSortBy="patient.id">
                        <span>Last Name</span>
                        <i *ngIf="sortList === 'lastname' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'lastname' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>

                    <th (click)="loadPage2('id')" jhiSortBy="patient.id">
                        <span>Patient Id</span>
                        <i *ngIf="sortList === 'id' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'id' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>
                    <th (click)="loadPage2('gender')" jhiSortBy="patient.id">
                        <span>Gender</span>
                        <i *ngIf="sortList === 'gender' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'gender' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>

                    <th (click)="loadPage2('height')" jhiSortBy="patient.id">
                        <span>Height</span>
                        <i *ngIf="sortList === 'height' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'height' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>
                    <th (click)="loadPage2('weight')" jhiSortBy="patient.id">
                        <span>Weight</span>
                        <i *ngIf="sortList === 'weight' && sortPredeict === 'asc'" aria-hidden="true"
                           class="fa fa-sort-amount-asc"></i>
                        <i *ngIf="sortList === 'weight' && sortPredeict === 'desc'" aria-hidden="true"
                           class="fa fa-sort-amount-desc"></i>
                    </th>
                    <th scope="col">Date of birth</th>
                    <!--<th scope="col">Status</th>-->
                    <th scope="col">Create Date</th>
                </tr>
                <tr *ngIf="patientList.length==0">
                    <td style="text-align: center"><span> No Results </span></td>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let patient of patientList; let i= index;">
                    <td>
                        {{(i+1)+((pagination-1)*itemsPerPage)}}
                    </td>
                    <td  class="tdLink" href="#" (click)="patientSurgery(patient.id)">{{patient.firstname}}</td>
                    <td >{{patient.lastname}}</td>
                    <td >{{patient.id}}</td>
                    <td *ngIf="patient.gender === 'Fl' ; else man">Female</td>
                    <ng-template #man>
                        <p style="margin-left: 11px !important;padding-top: 7px !important;color: gray !important;" >Male</p>
                    </ng-template>
                    <td >{{patient.height}}</td>
                    <td >{{patient.weight}}</td>
                    <td >{{patient.dateofbirth}}</td>
                    <td >{{patient.createdDate }}</td>

                </tr>
                </tbody>
            </table>
        </div>


        <div *ngIf="patientList && patientList.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="pagination" [total]="queryCount" [maxSize]="5"
                                [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="pagination" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage(pagination)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>


