body{
  font-family: Arial;
}

.patientMain{
  box-shadow:  1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f7f4fa42;
  margin: 50px 0px;
  //padding: 0px 20px;
}
.imgPatient {
  width: 100%;
  height: 374px;
  background: url("../../../assets/images/3face.jpg");
  background-size: 100% 100%;
}
.backText .col-md-4{
  padding: 20px 20px 20px 20px;
  margin: 30px 14px 10px 63px;
}
.backText h5:first-child{
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #752dac;
}
.backText h5:nth-child(2){
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #2c2f80;
}
.backText p{
  font-size: 17px ;
  color: black;
  font-weight: 400;
}
.tabDetail  p:not(:last-child) {
  margin: 0 0 20px;
}

.tabDetail section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

.tabDetail  input {
  display: none;
}

.tabDetail label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
  width: 33%;
  font-family: Cambria;
}

.tabDetail label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabDetail label[for*='1']:before { content: '\f007'; }
.tabDetail label[for*='2']:before { content: '\f022'; }
.tabDetail label[for*='3']:before { content: '\f030'; }
//label[for*='4']:before { content: '\f171'; }

.tabDetail label:hover {
  color: #789;
  cursor: pointer;
}

.tabDetail input:checked + label {
  color:#2cd8db;
  border: 1px solid #abc;
  border-top: 2px solid #009da0;
  border-bottom: 1px solid #fff;
}
.imgPrint input:checked +label{
  color:#2cd8db;
  font-weight: bold;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  min-height: 400px;
  overflow: hidden;
}
#content1  , #content2 , #content3 , #content4{
  padding: 20px;
}

#content2 h5{
  color: #5f5d5e;
  font-style: italic;
  font-size: 22px;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}
/*.......end tab..........*/

.patientInfo{
  border: 1px solid #80808054;
  padding: 20px;
  background-color: #fff;
}
.ImgInfo img{
  width: 100%;

}
.mainInfo{
  font-family: Arial;
}
.mainInfo strong{
  color: #009da0;
}
.mainInfo p{
  color: #000;
}
#content1 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
#content2 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
/*.................timline start*/
.buttonAdd{
  overflow: hidden;
}
.buttonAdd .btn-info{
  font-size: 12px;
}
.buttonAdd i.fa-plus{
  margin-right: 3px;
}
.timeline {
  padding: 0px 5%;
}

.timeline-item {
  flex-direction: column;
  border-left: 2px solid #e0e0e0;

  > div {
    border-width: 0px !important;
    text-align: left !important;
    order: unset !important;

    &:last-child {
      text-align: left;
      padding-bottom: 40px !important;
    }
  }

  &:nth-child(odd){
    > div:first-child {
      text-align: right;
      position: relative;

      &::after {
        left: 0% !important;
      }
    }

    > div:last-child {
      text-align: left;
      border-left: 2px solid #e0e0e0;
    }

    .timeline-content > h2 {
      text-align: left !important;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;
    }
  }

  &:nth-child(even){
    > div:first-child {
      order: 2;
      text-align: left !important;

      position: relative;

      &::after {
        left: -1px;
      }
    }

    > div:last-child {
      order: 1;
      text-align: right;
      border-right: 2px solid #e0e0e0;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;

    }

    .timeline-content > h2 {
      text-align: right !important;
    }
  }

  > div:first-child::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #009da0;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #2cd8db;
  }



  .timeline-date > div {
    background-color: #009da0;
    box-shadow: 0 0 0 2px #2cd8db;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 4px 11px;
  }

  .timeline-content{
    .fa-icon{
      font-size: 80px;
    }

    > h2 {
      margin: 0px;
      font-size: 1.5em;
      font-weight: bold;
      color: #009da0;
    }
  }

  &:not(:last-child) .timeline-content > .fa-icon{
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .timeline-item {
    flex-direction: column;
    border-left: 2px solid #e0e0e0;

    > div {
      border-width: 0px !important;
      text-align: left !important;
      order: unset !important;

      &::after {
        left: 0% !important;
      }
    }

    &:nth-child(odd) .timeline-content > h2 {
      text-align: left !important;
    }

    &:nth-child(even) .timeline-content > h2 {
      text-align: left !important;
    }
  }
}

.mainTimeline{
  border: 1px solid #80808054;
  padding: 20px;
  font-family: Montserrat,sans-serif;
  background-color: white;

}

.stateTimeline{
  padding: 16px;
  position: relative;
  background-color: #9ee6e759;
  box-shadow: 0 0 0 1px #2cd8db;
  border-radius: 5px;
  margin-left: 23px;
  //height: 300px;

}
//

.mainTimeline i.fa-folder{
  color: #ffd466;
}

.stateTimeline i.fa-home , i.fa-user{
  font-size: 80px;
}

.timeline-item:nth-child(odd) >.timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 9px;
  height: 22px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -17px;
  top: 7px;
}
.timeline-item:nth-child(even) > .timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -16px;
  top: 8px;}
.stateTimeline .col-md-8 img{
  width: 31%;
  height: 137px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.timeline button{
  float: right;
  z-index: 1000 !important;
}
.InfoSurgery{
  padding: 20px 50px;
  font-family: arial;
  text-align: justify;
}

.InfoSurgery i{
font-size: 17px;
  color: #ff586b;
}
.InfoSurgery span{
  color: black;
}
/*.................timline end*/

/*.....start for modal........*/
.modalSurgery{
  padding: 10px 35px;
  line-height: 2;
  font-family: Arial;
}
.btnSearch .btn{
  padding: 0px 8px !important;
  margin-left: 69px;
}
.btnSearch i.fa-search{
  font-size: 11px;
  padding-bottom: 10px;
}
.modalSurgery .form-check:first-child{
  line-height: 1.5;
}
.modalSurgery .row{
  margin-left: 4px;
  margin-top: 5px;
}
.radioModal .form-check-input{
  margin-top: 9px !important;
}
.modalSurgerySearch{
  padding: 25px 20px;
  font-family: Arial;
}
.modalSurgerySearch .btn-xs{
  padding: 6px 19px !important;
  margin-bottom: 10px;
}
.responseTable table{
  font-size: 13px;
}

/*.....start for modal........*/

/*...........strat tab2......*/

.tab2{
  margin: 0;
  box-sizing: border-box;
  border-top: 0px;
  border-bottom: 1px #abc;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.tabMain {
  cursor: pointer;
  display: inline-block;
  width: 31%;
  height: 50px;
  margin-left: 10px;
  box-sizing: border-box;
  text-align: center;
  color: gray;
  transition: all .3s ease;
  border-top: 0px #999999;
  border-left: 0px #999999;
  border-right: 0px #999999;
  border-bottom: 0px;
  border-style: solid;
  margin-bottom: -3px;
  &.chosen {
    color: #ff0320 ;
    border-top: 2px #ff0320;
    border-left: 1px #abc;
    border-right: 1px #abc;
    //border-bottom: 0px #28A3B3 !important;
    border-style: solid;
    background: #fff;
    //height:72px ;

    & h4{
      color: #ff0320;
    }
  }
}

.tabMain:hover {
  //background: #e8edf175;
  //border-bottom: 1px solid blue;
  &.chosen {
    background: #fff;
    color: #ff586b;
  }
}

.tabMain h4{
  line-height: 1.5;
  font-size: 15px;
  font-family: Cambria;
}

.page2 {
  margin: 0;
  border-radius: 5px 5px 0px 0px;
  min-height: 450px;
}

.pageMain {
  margin: 0;
  width: 100%;
  //height: 300px;
  transition: all .3s ease;
  display: none;
  &.shown {
    display: block;
    margin-top: 25px;
  }
}
#content3{
  background: #e8edf100;
  color: #000;
  font-family: arial;
}
.MarginTab2{
  margin: 30px;
}
//..........................................start gallery.....................................
.imgGallery img{
  height: 193px;
  width: 100%;
  //margin-top: 15px;
}

#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 0px 30px 0 30px;
  }
}

#gallery1 {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 0px 30px 0 30px;
  }
}
#gallery2 {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 0px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  //margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
      width: 60%;
    }
    @media screen and (min-width:1200px) {
      width: 50%;
    }
  }
}


#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}
/*........................................................................start slider......................................*/
.card img {
  height: 400px;
  width: 100% !important;
}
.card1{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 15px;
}
//.......................................start drag and drop..............................................................//
.titleCompare i{
  display: inline-block;
}
.titleCompare p{
  display: inline-block;
}
.titleCompare i{
  padding-left: 15px;
  padding-right: 3px;
  color: #ff586b;
}
.titleCompare p{
  padding-top: 25px;
  font-family: "Comic Sans MS";

}
#div1 {
  /*float: left;*/
  /*width: 270px;*/
  //height: 180px;
  margin: 10px;
  /*padding: 10px;*/
  /*border: 1px solid black;*/
}
#div2 {
  width: 650px;
  height: 350px;
  background-color: #000000;
  box-shadow: 1px 1px 7px #994f4f;
//background: linear-gradient(#020024 0%, #090979 25%, #00d4ff 50%);

}



.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:3px;
  margin-left:-2px;
  background: #fff;
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin: -25px 0 0 -21px;
  content: '\21d4';
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 44px;
  background: #ff586b;
  border: 1px solid #ff586b;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow:
    0 2px 6px rgba(0,0,0,.3),
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:48px;
  font-size:30px;
}

/*......my self style......*/
.hover-overlay:hover .img-overlay {
  opacity: 1;
}
.mainComponent .row{
  border-radius: 5px;
  height: auto;
}
.mainComponent img{
  border: 1px solid #8080805e;
}
.ba-slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ff586b2b;
  border-radius: 5px;
}
.imgCompare img{
  height: 200px;
  width: 100%;
  margin-top: 15px;
}
.imgCompare img:hover{
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: grab;
  transition: 1s;
}
//.......................................end drag and drop..............................................................//

//........................................start filter on images........................//

/*........start for multi select......*/
#selectionbar {
  max-width: 1000px;
  margin: 19px auto;
  background: rgba(67, 59, 59, 0.3);;
  text-align: center;
  padding: .5rem;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray, 1px 1px 6px gray ;
}
#dynaflex {
  display: flex;
  font-size: 0;
  flex-flow: row wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}
#dynaflex figure {
  margin: 0; min-width: 201px;
  flex: 0.67; transition: .5s;
}
#dynaflex figure.cub {
  flex: 0.568;
  min-width: 170.49px;
}
#dynaflex figure.on-grass {
  flex: 1;
  min-width: 300px;
}
#dynaflex figure.diminish {
  min-width: 0; flex: 0;
}
.card1 figure img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.card1 #categories{
  margin-top: 26px;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}
/*..............start print................................................................................*/
.imgPrint {
  border: 1px solid #8080805e;
  padding: 10px;
  margin: 12px 0px;
}
.imgPrint:hover{
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  transition: 1s;
}
.imgPrint img{
  width: 100%;
  height: 210px;
}
.imgPrint input{
  display: block !important;
}
.imgPrint label{
  padding: 7px 7px 7px 18px !important;
  font-size: 16px;
  //width: 35% !important;
  font-family: auto;
}
.imgPrint label:before{
  content: '' !important;
}
.imgPrint .form-check-input{
  margin-top: 12px !important;
  margin-left: 0px !important;
  left: 0px ;
}
.imgPrint .form-check{
  padding-left: 0px !important;
}
.imgPrint input:checked + label{
  border-top: 0px !important;
  border: 0px !important;
  //color: red !important;
}
.imgPrint input[type = 'checkbox' ]{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.form-check i.fa-trash{
  color: #ff586b ;
  cursor: pointer;
  font-size: 15px;
}
.buttonPrint{
  margin-left: 30px;
}

.buttonPrint .btn-outline-success{
  width: 108px;
  //height: 33px;
  display: inline-block;
  //margin-top: 50px;
}
.buttonPrint .btn-outline-primary{
  display: inline-block;
  //margin-top: 50px;
}
/*....................end drop down......................*/

/*..............slider new......*/
.carousel-inner .w-100{
  height: 450px !important;
}
.carousel-inner{
  width: 75% !important;
}
.card  .carousel-item{
  width: 75% !important;
}
/*................mobile.................*/

@media  (max-width: 768px) {
  .tabMain {
    width: 90% !important;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    height: 31px;
  }
  .tabMain.chosen h4{
    border-bottom: 1px solid #ff586b;
  }
  .tabMain h4{
    line-height: 2;
  }
  .titleCompare  p{
    font-size: 11px;
    padding: 15px 15px 0px 15px;
    text-align: justify;
    color: #009da0;
  }
  .tabMain i {
    display: none;
  }
  .card img{
    height: 180px;
  }
  .imgPatient{
    height: 269px !important;
  }
  .titleCompare i{
    display: none;
  }
  .imgPrint label{
    width: 100% !important;
  }
  .carousel-inner .w-100{
    height: 150px !important;
  }
  //#dynaflex figure{
  //  width: 50% !important;
  //}
}
@media (max-width:399px) {
  .card1 figure img{
    width: 75% !important;
  }
}
/*..............mobile.......*/
.imageGallery img{
  height: 210px;
}


/*..............................................*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*.......................*/
@media  print and (min-width: 700px) {
img {
  width: 200px;
  height: 200px;
}
}
/*..................start general*/
.card1 .dropdown{
  text-align: center;
  margin-top: 25px;
}
.tableSurgery table{
  margin-bottom: 35px;
}
.tableSurgery table th{
   color:#ffffff ;
 }

.tableSurgery table i.fa-folder-open{
   color: #ffd466;
 }
.tableSurgery table i.fa-caret-right{
  color: #2cd8db;
}
.tableSurgery td i{
  display: inline-block;
}
.tableSurgery td p{
  display: inline-block;
}
//.table-dark .noneStyle{
//  display: none;
//}
.tdCursor p{
  cursor: pointer;
}
.caretRight td{
  padding-left: 23px;

}
.caretRight td i.fa-caret-right{
  color: #ff586b;
}
 .caretRight td:hover{
  color:#009da0 ;
  cursor: pointer;
}
.caretRight td.active{
  color:red ;
}
 .tdCursor i.fa-caret-right:hover{
  color:#2cd8db !important;
}
.tdCursor i.fa-caret-right{
   cursor: pointer;
  font-size: 17px;
 }

.tdCursor i.fa-caret-down{
  cursor: pointer;
  color:#ff586b ;
  font-size: 17px;
}

.tableSurgery .table-bordered td{
  border: 2px solid rgba(0, 0, 0, 0.26);
}
.tableSurgery .table thead th{
  border: 3px solid rgba(0, 0, 0, 0.26);
  background-color: #454343f5;
}
.tableSurgery .table-bordered{
  margin-top: 77px;
}

/*........start new code..................*/
.patientInfo{
  border: 1px solid #80808054;
  padding: 47px 20px 0px 20px;
  background-color: #fff;
  position: relative;
  //margin-top: 40px;
  margin-bottom: 30px;
  margin-top: 45px;
}
.iconPatient {
  border: 2px solid #009da0;
  width: 80px;
  height: 80px;
  background-color: #f5f5fa;
  position: absolute;
  top: -29%;
  border-radius: 50%;
}
.iconPatient img{
  width: 68px;
  height: 63px;
  padding: 12px 0px 0px 8px;
}
.tableSurgery .col-md-4{
  padding-left: 0px !important;
}
.buttonPrint i.fa-upload{
  padding-left: 5px;
}
.emptyCat{
  padding: 15px 10px 15px 30px;
  //display: none;
}
.emptyCat i{
  display: inline-block;
  color: #ff586b;
}
.emptyCat p{
  display: inline-block;
  font-family: "Comic Sans MS";
  color: #000;
}
.active{
  color:#ff586b;
}