body{
  font-family: Arial;
}

.patientMain{
  box-shadow:  1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f7f4fa42;
  margin: 50px 0px;
  //padding: 0px 20px;
}
.imgPatient {
  width: 100%;
  height: 374px;
  background: url("../../../assets/images/3face.jpg");
  background-size: 100% 100%;
}
.backText .col-md-4{
  padding: 20px 20px 20px 20px;
  margin: 30px 14px 10px 63px;
}
.backText h5:first-child{
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #752dac;
}
.backText h5:nth-child(2){
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #2c2f80;
}
.backText p{
  font-size: 17px ;
  color: black;
  font-weight: 400;
}
.tabDetail  p:not(:last-child) {
  margin: 0 0 20px;
}

.tabDetail section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

.tabDetail  input {
  display: none;
}

.tabDetail label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 16px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
  width: 100%;
  font-family: Cambria;
}

.tabDetail label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabDetail label[for*='1']:before { content: '\f007'; }
.tabDetail label[for*='2']:before { content: '\f022'; }
.tabDetail label[for*='3']:before { content: '\f030'; }
//label[for*='4']:before { content: '\f171'; }

.tabDetail label:hover {
  color: #789;
  cursor: pointer;
}

.tabDetail input:checked + label {
  color:#2cd8db;
  border: 1px solid #abc;
  border-top: 2px solid #009da0;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  min-height: 400px;
  overflow: hidden;
}
#content1  , #content2 , #content3 , #content4{
  padding: 20px;
}

#content2 h5{
  color: #5f5d5e;
  font-style: italic;
  font-size: 22px;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}
/*.......end tab..........*/

.patientInfo{
  border: 1px solid #80808054;
  padding: 47px 20px 0px 20px;
  background-color: #fff;
  position: relative;
  margin-top: 40px;
}
.iconPatient {
  border: 2px solid #009da0;
  width: 80px;
  height: 80px;
  background-color: #f5f5fa;
  position: absolute;
  top: -24%;
  border-radius: 50%;
}
.iconPatient img{
  width: 68px;
  height: 63px;
  padding: 12px 0px 0px 8px;
}
.ImgInfo img{
  width: 100%;

}
.mainInfo{
  font-family: Arial;
}
.mainInfo strong{
  color: #009da0;
  font-size: 15px;
}
.mainInfo p{
  color: #000;
  font-size: 14px;
}
.mainInfo .col-md-4{
  margin-bottom: 10px;
}
#content1 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
#content2 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
/*.................timline start*/
.buttonAdd{
  overflow: hidden;
}
.buttonAdd .btn-info{
  font-size: 12px;
}
.buttonAdd i.fa-plus{
  margin-right: 3px;
}
.timeline {
  padding: 0px 5%;
}

.timeline-item {
  flex-direction: column;
  border-left: 2px solid #e0e0e0;

  > div {
    border-width: 0px !important;
    text-align: left !important;
    order: unset !important;

    &:last-child {
      text-align: left;
      padding-bottom: 40px !important;
    }
  }

  &:nth-child(odd){
    > div:first-child {
      text-align: right;
      position: relative;

      &::after {
        left: 0% !important;
      }
    }

    > div:last-child {
      text-align: left;
      border-left: 2px solid #e0e0e0;
    }

    .timeline-content > h2 {
      text-align: left !important;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;
    }
  }

  &:nth-child(even){
    > div:first-child {
      order: 2;
      text-align: left !important;

      position: relative;

      &::after {
        left: -1px;
      }
    }

    > div:last-child {
      order: 1;
      text-align: right;
      border-right: 2px solid #e0e0e0;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;

    }

    .timeline-content > h2 {
      text-align: right !important;
    }
  }

  > div:first-child::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #009da0;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #2cd8db;
  }



  .timeline-date > div {
    background-color: #009da0;
    box-shadow: 0 0 0 2px #2cd8db;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 4px 11px;
  }

  .timeline-content{
    .fa-icon{
      font-size: 80px;
    }

    > h2 {
      margin: 0px;
      font-size: 1.5em;
      font-weight: bold;
      color: #009da0;
    }
  }

  &:not(:last-child) .timeline-content > .fa-icon{
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .timeline-item {
    flex-direction: column;
    border-left: 2px solid #e0e0e0;

    > div {
      border-width: 0px !important;
      text-align: left !important;
      order: unset !important;

      &::after {
        left: 0% !important;
      }
    }

    &:nth-child(odd) .timeline-content > h2 {
      text-align: left !important;
    }

    &:nth-child(even) .timeline-content > h2 {
      text-align: left !important;
    }
  }
}

.mainTimeline{
  border: 1px solid #80808054;
  padding: 20px;
  font-family: Montserrat,sans-serif;
  background-color: white;

}

.stateTimeline{
  padding: 20px 20px 50px 20px;
  position: relative;
  background-color: #9ee6e759;
  box-shadow: 0 0 0 1px #2cd8db;
  border-radius: 5px;
  margin-left: 23px;
  //height: 300px;
}
//

.mainTimeline i.fa-folder{
  color: #ffd466;
}

.stateTimeline i.fa-home , i.fa-user{
  font-size: 80px;
}

.timeline-item:nth-child(odd) >.timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 9px;
  height: 22px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -17px;
  top: 7px;
}
.timeline-item:nth-child(even) > .timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -16px;
  top: 8px;}
.stateTimeline .col-md-4 img{
  //width: 100%;
  height: 170px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px 0px;
}
.timeline button{
  float: right;
  z-index: 1000 !important;
}
.InfoSurgery{
  padding: 20px 50px;
  font-family: arial;
  text-align: justify;
}

.InfoSurgery i{
font-size: 17px;
  color: #ff586b;
}
.InfoSurgery span{
  color: black;
}
/*.................timline end*/
.buttonSave button{
  overflow: hidden;
}

/*.....start for modal........*/
.modalSurgery{
  padding: 10px 35px;
  line-height: 2;
  font-family: Arial;
}
.btnSearch .btn{
  padding: 0px 8px !important;
  margin-left: 69px;
}
.btnSearch i.fa-search{
  font-size: 11px;
  padding-bottom: 10px;
}
.modalSurgery .form-check:first-child{
  line-height: 1.5;
}
.modalSurgery .row{
  margin-left: 4px;
  margin-top: 5px;
}
.radioModal .form-check-input{
  margin-top: 9px !important;
}
.modalSurgerySearch{
  padding: 25px 20px;
  font-family: Arial;
}
.modalSurgerySearch .btn-xs{
  padding: 6px 19px !important;
  margin-bottom: 10px;
}
.responseTable table{
  font-size: 13px;
}

/*.....start for modal........*/

/*...........strat tab2......*/

.tab2{
  margin: 0;
  box-sizing: border-box;
  border-top: 0px;
  border-bottom: 1px #ff586b;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.tabMain {
  cursor: pointer;
  display: inline-block;
  width: 18%;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  text-align: center;
  color: gray;
  transition: all .3s ease;
  border-top: 0px #999999;
  border-left: 0px #999999;
  border-right: 0px #999999;
  border-bottom: 0px;
  border-style: solid;
  margin-bottom: -1px;
  &.chosen {
    color: #ff0320 ;
    border-top: 1px #ff0320;
    border-left: 1px #ff0320;
    border-right: 1px #ff0320;
    //border-bottom: 0px #28A3B3 !important;
    border-style: solid;
    background: #fff;

    & h4{
      color: #ff0320;
    }
  }
}

.tabMain:hover {
  //background: #e8edf175;
  //border-bottom: 1px solid blue;
  &.chosen {
    background: #fff;
    color: #ff586b;
  }
}

.tabMain h4{
  line-height: 1.5;
  font-size: 15px;
  font-family: Cambria;
}

.page2 {
  margin: 0;
  border-radius: 5px 5px 0px 0px;
  min-height: 450px;
}

.pageMain {
  margin: 0;
  width: 100%;
  //height: 300px;
  transition: all .3s ease;
  display: none;
  &.shown {
    display: block;
    margin-top: 25px;
  }
}
#content3{
  background: #e8edf100;
  color: #000;
  font-family: arial;
}
.MarginTab2{
  margin: 30px;
}
.surgeryDropdown ul li {
  list-style-type : none;
  padding: 5px 0px;
  font-family: Arial;
}
.surgeryDropdown ul li a {
  color: #070607 !important;
}
.surgeryDropdown ul li a:hover {
  color: blue !important;
}
.surgeryDropdown i.fa{
  margin-right: 10px;
  //color: #126a6c;
  color: #ffd466;
  font-size: 17px;
}

.surgeryDropdown ul{
  padding-left: 0px !important;

}
.imgSurgery{
  background-color: powderblue;
  margin-right: 5px;
  //box-shadow: 4px 3px 6px powderblue;
  //box-shadow: 1px 2px 0 powderblue, 0 6px 20px 0 powderblue;
  border: 1px solid  #2cd8db;
  border-radius: 5px;
}
.imgSurgery i.fa-trash{
  font-size: 17px;
  color: #ff586b;
  content: "\F1F8";
  position: absolute;
  bottom: 14%;
  left: 10%;
  //background-color: powderblue;
  //width: 27px;
  //height: 27px;
  //padding: 4px 6px;
  //border-radius: 50%;
}
.imgCat .col-md-4 img {
  padding: 10px 10px !important;
}
.imgCat i.fa-trash{
  bottom: 13%;
  left: 15%;
  font-size: 17px;
  color: #ff586b;
  content: "\F1F8";
  position: absolute;
}
//.buttonCat button{
//  width: 100px;
//}
.imgSurgery .buttonCat{
  padding: 13px !important;
  margin: 40px 0px !important;
}
.formUpload input{
  display: block;
}
.titleCompare i{
  display: inline-block;
}
.titleCompare p{
  display: inline-block;
}
.titleCompare i{
  padding-left: 0px;
  padding-right: 10px;
  color: #2cd8db;

}
.titleCompare p{
  font-family: "Comic Sans MS";
  color: #009da0;
  margin-bottom: 20px;
}
.surgeryDropdown li{
  cursor: pointer;
}
.emptyCat{
  padding: 15px 10px 0px 10px;
}
.emptyCat i{
  display: inline-block;
  color: #ff586b;
}
.emptyCat p{
  display: inline-block;
  //font-family: "Comic Sans MS";
  color: #009da0;
}
/*................new css for mobile.................................*/
@media  (max-width: 768px) {
  .imgPatient{
    height: auto;
  }
  .backText p{
    font-size: 14px;
  }
  .backText h5:first-child{
    font-size: 21px !important;
  }
  .backText h5{
    font-size: 20px !important;
  }
  .InfoSurgery{
    padding: 20px 0px !important;
  }
  .surgeryDropdown ul li{
    font-size: 11px;
  }
  //.stateTimeline .col-md-8 img{
  //  width:100%;
  //  height: auto;
  //}
  .timeline-item:nth-child(odd) .timeline-date > div{
    font-size: 11px;
  }
  .timeline-item:nth-child(even) .timeline-date > div{
    font-size: 11px;
  }
  .InfoSurgery span{
    font-size: 12px;
  }
  #content2 h5{
    font-size: 14px ;
  }
  .mainInfo p{
    font-size: 13px;
  }
  .ImgInfo img{
    display: none;
  }
  .backText .col-md-4 {
    padding: 20px 20px 20px 20px;
    margin: 0px 14px 10px 25px;
  }
  .tabDetail label{
    width: 32%;
  }
  .stateTimeline .col-md-8 img{
    padding: 3px;
  }
}
@media (width: 768px){
  .stateTimeline .col-md-8 img{
    width: 31% !important;
    height: auto;
  }
}
/*................new css for mobile.................................*/
.timeline-date span{
cursor: pointer;
}
.buttonCat .btn-primary{
  margin-top: 30px;
}