<div class="container">
    <div class="patientMain">
        <div class="imgPatient">
            <div class="backText">
                <div class="row">
                    <div class="col-md-4">
                        <h5>One-Day</h5>
                        <!--<br/>-->
                        <h5>Fat Removal</h5>
                        <!--<br/>-->
                        <p>When it comes to your health and happiness, you deserve the best. <strong>Sono
                            Bello </strong> is
                            America’s top cosmetic surgery specialist</p>


                        <!--<div class="buttonCat">-->
                            <!--<button type="button" class="btn btn-primary"-->
                                    <!--(click)="uploadByCat(patient.id , general_cat_id)">Upload Photo-->
                            <!--</button>-->
                            <!--&lt;!&ndash;<button type="button" class="btn btn-secondary" (click)="backClicked()">Secondary</button>&ndash;&gt;-->
                        <!--</div>-->
                    </div>



                </div>

            </div>
        </div>
        <!--............start tab...........-->
        <div class="tabDetail">
            <main>

                <!--<input id="tab1" type="radio" name="tabs" checked>-->
                <!--<label for="tab1">Patient Info</label>-->

                <!--<input id="tab2" type="radio" name="tabs">-->
                <!--<label for="tab2">Surgical Information</label>-->

                <input id="tab3" type="radio" name="tabs" checked>
                <!--<label for="tab3">Photo</label>-->

                <!--<section id="content1">-->

                    <!--<div class="patientInfo">-->
                        <!--<div class="iconPatient">-->
                            <!--<img src="../../../assets/images/UserMan.png">-->
                        <!--</div>-->

                        <!--<div class="row mainInfo">-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Name : </strong>{{patient.firstname}}</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Last Name : </strong>{{patient.lastname}}</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Weight : </strong>{{patient.weight}}</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Age : </strong>{{patient.age}}</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Address : </strong>{{patient.address1}}</p>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p *ngIf="patient.gender === 'Fl' ; else man"><strong>Gender : </strong>Female</p>-->
                                <!--<ng-template #man>-->
                                    <!--<p style=""><strong>Gender : </strong>Male</p>-->
                                <!--</ng-template>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<p><strong>Date of birth : </strong>{{patient.dateofbirth}}</p>-->
                            <!--</div>-->


                        <!--</div>-->

                    <!--</div>-->
                <!--</section>-->

                <!--<section id="content2">-->
                    <!--<h5 align="center">Dara Tavakoli</h5>-->
                    <!--<div class="container mainTimeline">-->
                        <!--&lt;!&ndash;<p align="center" style="color: #673AB7 ; font-style: italic ;     font-size: 22px;">Jesika Alba</p>&ndash;&gt;-->
                        <!--<div class="InfoSurgery">-->
                            <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                            <!--<span>-->
              <!--In order to upload photos please click on the below folder with the Patient name on it, click on"Add Default sub Folders", then select the appropriate sub folder and click on "Add Photos". If your desire sub folder doesn't exist on the list of default sub folders you can click on "Add Folder" to create it.-->
            <!--</span>-->
                        <!--</div>-->
                        <!--<div class="timeline timeline-purple">-->
                            <!--&lt;!&ndash;<button type="button" (click)="openFolder(content)" class="btn btn-primary">Add Folder</button>&ndash;&gt;-->

                            <!--<div class="timeline-item">-->
                                <!--&lt;!&ndash;<div class="timeline-date">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;Eduardo Avila 03/ 27/ 2019&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="timeline-content">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="stateTimeline">&ndash;&gt;-->


                                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="surgeryDropdown">&ndash;&gt;-->
                                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li ><i&ndash;&gt;-->
                                <!--&lt;!&ndash;class="fa fa-file-image-o" aria-hidden="true"></i>Facial&ndash;&gt;-->
                                <!--&lt;!&ndash;pre&ndash;&gt;-->
                                <!--&lt;!&ndash;Operation&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial surgery</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 24 hours</a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 1 week </a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 1 month </a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 2 month </a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 3 month </a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Facial 6 month </a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-file-image-o"&ndash;&gt;-->
                                <!--&lt;!&ndash;aria-hidden="true"></i>Face misc</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class=" row imgSurgery">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="col-md-4 ">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="../../../assets/images/lipo1.jpg">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="col-md-4 ">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="../../../assets/images/lipo2.jpg">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="col-md-4 ">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="../../../assets/images/lipo3.jpg">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->


                            <!--</div>-->


                            <!--<div class="timeline-item">-->
                                <!--<div class="timeline-date">-->
                                    <!--<div (click)="getPhotoBySurgery(patient.id , 8)">-->
                                        <!--<span> Nathan Miller 08/ 10 / 2018</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="timeline-content">-->
                                    <!--<div class="stateTimeline">-->
                                        <!--<div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong>-->
                                            <!--<p>Please click on category to view photos of each category</p></strong>-->
                                        <!--</div>-->

                                        <!--<div class="row">-->

                                            <!--<div class="col-md-4">-->
                                                <!--<div class="surgeryDropdown">-->
                                                    <!--<ul *ngFor="let cat of  categories">-->

                                                        <!--<li (click)="getPhotoBySurgeryAncCat(patient.id , cat.id , 8)">-->
                                                            <!--<i class="fa fa-folder" aria-hidden="true"></i>{{cat.itemName}}-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-8">-->
                                                <!--<div class=" row imgSurgery" id="showAllPhoto" *ngIf="showAllPhotoSurgery">-->
                                                    <!--<div class="col-md-4" *ngFor="let row of photoSurgery ">-->
                                                        <!--<img src="{{row.amazonLink}} " width="100%">-->
                                                        <!--<i class="fa fa-trash" aria-hidden="true"-->
                                                           <!--(click)="deleteAllPhoto(row.id)"></i>-->
                                                    <!--</div>-->
                                                <!--</div>-->


                               <!--<div class=" imgSurgery" id="showPhotoByCat"  *ngIf="showAllPhotoSurgeryAndCat">-->
                                                    <!--<div class="emptyCat" *ngIf="photoSurgeryAndCat?.length == 0">-->
                                                        <!--<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
                                                        <!--<p>There are no photos saved for this category</p>-->
                                                    <!--</div>-->

                                                    <!--<div class="row imgCat">-->
                                                        <!--<div class="col-md-4" *ngFor="let row of photoSurgeryAndCat ">-->
                                                            <!--<img src="{{row.amazonLink}}" width="100%">-->
                                                            <!--<i class="fa fa-trash" aria-hidden="true"-->
                                                               <!--(click)="deletePhotoByCat(row.id)"></i>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--<div class="buttonCat">-->
                                                        <!--<button type="button" class="btn btn-primary"-->
                                                                <!--(click)="uploadByCat(patient.id , general_cat_id)">Upload Photo-->
                                                        <!--</button>-->
                                                        <!--&lt;!&ndash;<button type="button" class="btn btn-secondary" (click)="backClicked()">Secondary</button>&ndash;&gt;-->
                                                    <!--</div>-->

                                                <!--</div>-->

                                              <!--</div>-->

                                        <!--</div>-->

                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->


                            <!--&lt;!&ndash;<div class="buttonAdd">&ndash;&gt;-->
                            <!--&lt;!&ndash;<button type="button" (click)="openFolder(content)" class="btn-info btn"><i class="fa fa-plus" aria-hidden="true"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;Add Folder&ndash;&gt;-->
                            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->


                        <!--</div>-->
                    <!--</div>-->

                <!--</section>-->

                <section id="content3">

                    <app-detail-patient-photo></app-detail-patient-photo>

                </section>

            </main>
        </div>
        <!--............end tab...........-->

    </div>
</div>


<!--...............start modal Add folder--............................................................-->
<!--<ng-template #content let-c="close" let-d="dismiss">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title" id="modal-basic-title" style="color: #009da0 ; font-family: 'Cambria'">Add Default-->
<!--Subfolder</h4>-->
<!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->


<!--<div class="modalSurgery">-->

<!--<form>-->

<!--<div class="form-check">-->
<!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--<label class="form-check-label" for="exampleCheck1">Assign Surgery</label>-->
<!--</div>-->
<!--<div class="form-check btnSearch">-->
<!--<label class="form-check-label">Physician : </label>-->

<!--<button class="btn btn-facebook waves-effect waves-light" (click)="openFolderSearch(contentSearch)"-->
<!--type="button"><i class="fa fa-search" aria-hidden="true"></i></button>-->

<!--</div>-->

<!--<div class="form-group row">-->
<!--<label for="example-date-input" class="col-4 col-form-label">Date : </label>-->
<!--<div class="col-8">-->
<!--<input class="form-control" type="date" value="2011-08-19" id="example-date-input">-->
<!--</div>-->
<!--</div>-->

<!--<div class="radioModal">-->
<!--<div class="row">-->
<!--<div class="col-4"><span>Folder Types :</span></div>-->
<!--<div class="col-8">-->
<!--<div class="form-check">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"-->
<!--checked>-->
<!--<label class="form-check-label" for="exampleRadios1">Facial-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-check">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">-->
<!--<label class="form-check-label" for="exampleRadios2">-->
<!--Liposuction-->
<!--</label>-->
<!--</div>-->
<!--<div class="form-check disabled">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" value="option3">-->
<!--<label class="form-check-label">Both (Facial , Liposuction)</label>-->
<!--</div>-->
<!--<div class="form-check disabled">-->
<!--<input class="form-check-input" type="radio" name="exampleRadios" value="option3">-->
<!--<label class="form-check-label">Venus</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!--</div>-->


<!--<div class="modal-footer">-->
<!--&lt;!&ndash;<button type="button" class="btn btn-outline-dark button1"   > Show Details<i class="fa fa-forward" aria-hidden="true"></i></button>&ndash;&gt;-->
<!--</div>-->
<!--</ng-template>-->
<!--.........end modal......-->


<!--...............start modal Search............................................................-->
<!--<ng-template #contentSearch let-c="close" let-d="dismiss">-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title" style="color: #009da0 ; font-family: 'Cambria'">Search Physician</h4>-->
<!--<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->


<!--<div class="modalSurgerySearch">-->
<!--<form>-->
<!--<div class="form-group row">-->
<!--<label for="inputEmail3" class="col-sm-3 col-form-label">First Name : </label>-->
<!--<div class="col-sm-7">-->
<!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
<!--<label for="inputPassword3" class="col-sm-3 col-form-label">Last Name :</label>-->
<!--<div class="col-sm-7">-->
<!--<input type="text" class="form-control" id="inputPassword3" placeholder="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
<!--<label for="inputPassword3" class="col-sm-3 col-form-label">Clinic :</label>-->
<!--<div class="col-sm-7">-->
<!--<select id="inputState" class="form-control">-->
<!--<option selected>Choose...</option>-->
<!--<option>...</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->

<!--<button type="button" style="margin-right: 3px" class="btn btn-xs btn-info">Search</button>-->
<!--<button type="button" class="btn btn-xs btn-danger">Reset</button>-->

<!--</form>-->
<!--<div class="responseTable" style="overflow-x:auto;">-->
<!--<table style="margin-top: 5px" class="table">-->
<!--<thead>-->
<!--<tr style="background-color: #FFF  ; color: #009da0 ; font-family: Cambria " >-->
<!--<th scope="col">#</th>-->
<!--<th scope="col">Name</th>-->
<!--<th scope="col">Family </th>-->
<!--<th scope="col">Status</th>-->
<!--<th scope="col">Clinic</th>-->
<!--<th scope="col">Position</th>-->
<!--<th scope="col">Select</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<th scope="row">1</th>-->
<!--<td>Mark</td>-->
<!--<td>Otto</td>-->
<!--<td>@mdo</td>-->
<!--<td>@mdo</td>-->
<!--<td>@mdo</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th scope="row">2</th>-->
<!--<td>Jacob</td>-->
<!--<td>Thornton</td>-->
<!--<td>@fat</td>-->
<!--<td>@fat</td>-->
<!--<td>@fat</td>-->
<!--<td>@fat</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th scope="row">3</th>-->
<!--<td>Larry</td>-->
<!--<td>the Bird</td>-->
<!--<td>@twitter</td>-->
<!--<td>@twitter</td>-->
<!--<td>@twitter</td>-->
<!--<td>@twitter</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->


<!--</div>-->
<!--</ng-template>-->


