<div class="MarginTab2">
    <!--<section id="content1">-->
    <!--<div class="row">-->
    <!--<div class="col-md-7"></div>-->
    <!--<div class="col-md-"></div>-->
    <!--</div>-->


    <div class="patientInfo">
        <div class="iconPatient">
            <img src="../../../assets/images/UserMan.png">
        </div>

        <div class="row mainInfo" *ngIf="patient">
            <div class="col-md-4">
                <p><strong>Name : </strong>{{patient.firstname}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Last Name : </strong>{{patient.lastname}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Weight : </strong>{{patient.weight}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Age : </strong>{{patient.age}}</p>
            </div>
            <div class="col-md-4">
                <p><strong>Address : </strong>{{patient.address1}}</p>
            </div>
            <div class="col-md-4">
                <p *ngIf="patient.gender === 'Fl' ; else man"><strong>Gender : </strong>Female</p>
                <ng-template #man>
                    <p style=""><strong>Gender : </strong>Male</p>
                </ng-template>
            </div>
            <div class="col-md-4">
                <p><strong>Date of birth : </strong>{{patient.dateofbirth}}</p>
            </div>


        </div>

    </div>
    <!--</section>-->

    <!--.............start new.....-->
    <div class="row">
        <div class="col-md-3 ">
            <div class="tableSurgery">
                <div class="">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Folders</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tdCursor">
                                <i class="fa fa-caret-right" *ngIf="showCaretRight" aria-hidden="true"
                                   (click)="openCategori()"></i>
                                <i class="fa fa-caret-down" *ngIf="showCaretDown" (click)="closeCategory()"
                                   id="createDown"
                                   aria-hidden="true"></i>
                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                <p style="color: black" (click)="getPhotoBySurgery(patient.id , 8)">Nathan Miller 08/ 10
                                    /
                                    2018</p>
                            </td>
                            <!--<td id="caretRight" *ngFor="let cat of  categories">{{cat.itemName}}</td>-->
                        </tr>
                        <tr class="caretRight" [ngClass]="{'active': selectedItem == cat.itemName}"
                            (click)="listClick($event, cat.itemName)" id="secondCarousel"
                            *ngFor="let cat of  categories ">
                            <td *ngIf="showSubCategory" (click)="getPhotoBySurgeryAncCat(patient.id , cat.id , 8 )">
                                <i class="fa fa-caret-right" aria-hidden="true"></i> {{cat.itemName}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="tab2">
                <div class="tabMain chosen"><i class="fa fa-globe" aria-hidden="true"></i><h4>All Photos</h4></div>
                <div class="tabMain"><i class="fa fa-picture-o" aria-hidden="true"></i><h4>Carousel</h4></div>
                <div class="tabMain"><i class="fa fa-compress" aria-hidden="true"></i><h4>Compare Image</h4></div>
                <!--<div class="tabMain"><i class="fa fa-filter" aria-hidden="true"></i><h4>Filter on Image</h4></div>-->
                <!--<div class="tabMain"><i class="fa fa-print" aria-hidden="true"></i><h4>Print</h4></div>-->
            </div>


            <div class="page2">
                <div class="pageMain shown">
                    <div class="card1">

                        <div class="" *ngIf="photoEmptyAllImage">
                            <div class="emptyCat" *ngIf="photoPatient?.length == 0">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <p>There are no photos saved for this patient.</p>
                            </div>
                        </div>

                        <div class="" *ngIf="photoEmptySurgeryImage">
                            <div class="emptyCat" *ngIf="photoSurgery?.length == 0">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <p>There are no photos saved for this surgery.</p>
                            </div>
                        </div>

                        <div class="" *ngIf="photoEmptyCat">
                            <div class="emptyCat" *ngIf="photoSurgeryAndCat?.length == 0">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <p>There are no photos saved for this category.</p>
                            </div>
                        </div>



                        <div id="gallery">
                            <div class="">
                                <div id="image-gallery">
                                    <div class="row " id="surgeryOperationAll" *ngIf="getAllPhotoPatient">
                                        <!--<div class="imgPrint">-->

                                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image hover-overlay"
                                             *ngFor="let row of photoPatient ; let i = index">


                                            <div class="imgPrint">
                                                <div class="img-wrapper imgGallery ">
                                                    <a href="{{row.amazonLink}}" id="divImgP{{i}}">
                                                        <img src="{{row.amazonLink}}"
                                                             class="img-overlay-pic img-responsive imgShow"></a>
                                                    <div class="img-overlay" id="{{row.amazonLink}}"
                                                         (click)="openPicture(row.amazonLink)">
                                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" name="expCheck[]" value="true"
                                                           class="form-check-input"
                                                           id="exampleCheck2">
                                                    <label class="form-check-label">Print</label>
                                                    <i class="fa fa-trash" aria-hidden="true"
                                                       (click)="deleteAllPhoto(row.id)"></i>
                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- End row -->
                                </div>
                            </div>
                        </div>


                        <!----.................start by surgery.................-->
                        <div id="gallery1">
                            <div class="">
                                <div id="image-gallery1">
                                    <div id="surgeryOperation" *ngIf="getAllPhotoBySurgery">

                                        <div class="row ">

                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image hover-overlay"
                                                 *ngFor="let row of photoSurgery ; let j = index">
                                                <div class="imgPrint">
                                                    <div class="img-wrapper imgGallery ">

                                                        <a href="{{row.amazonLink}}" id="divImgS{{j}}">
                                                            <img src="{{row.amazonLink}}"
                                                                 class="img-overlay-pic img-responsive imgShow"></a>
                                                        <div class="img-overlay"
                                                             (click)="openPictureBySurgery(row.amazonLink)">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </div>


                                                    </div>


                                                    <div class="form-check">
                                                        <input type="checkbox" name="expCheck[]" value="true"
                                                               class="form-check-input"
                                                               id="exampleCheck4">
                                                        <label class="form-check-label">Print</label>
                                                        <i class="fa fa-trash" aria-hidden="true"
                                                           (click)="deleteAllPhotoBySurgery(row.id)"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----.................start by surgery.................-->


                        <!----.................start by surgery and cat.................-->
                        <div id="gallery2">
                            <div class="">
                                <div id="image-gallery2">

                                    <div id="surgeryOperationAnCat" *ngIf="getAllPhotoBySurgeryAndCat">

                                        <div class="row ">

                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 image hover-overlay"
                                                 *ngFor="let row1 of photoSurgeryAndCat ; let k = index">

                                                <div class="imgPrint">
                                                    <div class="img-wrapper imgGallery ">

                                                        <a href="{{row1.amazonLink}}" id="divImg{{k}}">
                                                            <img src="{{row1.amazonLink}}"
                                                                 class="img-overlay-pic img-responsive imgShow"></a>
                                                        <div class="img-overlay"
                                                             (click)="openPictureSurgeryAndCat(row1.amazonLink)">
                                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                        </div>


                                                    </div>
                                                    <div class="form-check">
                                                        <input type="checkbox" name="expCheck[]" value="true"
                                                               class="form-check-input"
                                                               id="exampleCheck5">
                                                        <label class="form-check-label">Print</label>
                                                        <i class="fa fa-trash" aria-hidden="true"
                                                           (click)="deletePhotoByCat(row1.id)"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!----.................start by surgery and cat.................-->


                        <div class="buttonPrint">
                            <button type="button" class="btn  btn-outline-success" (click)="print()">Print <i
                                    class="fa fa-print"></i>
                            </button>

                            <button *ngIf="showUploadButton" (click)="uploadByCat(patient.id , general_cat_id , 8)"
                                    type="button" class="btn  btn-outline-primary">
                                Upload Photo <i class="fa fa-upload" aria-hidden="true"></i>
                            </button>

                        </div>

                    </div>


                </div>
                <!--............start slider....................-->

                <div class="pageMain">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">


                                <!--<div class="emptyCat" *ngIf="photoSurgeryAndCat?.length == 0">-->
                                    <!--<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>-->
                                    <!--<p>There are no photos saved for this category.</p>-->
                                <!--</div>-->

                                <div class="card-body">


                                    <div class="carouselPic" style="width: 550px ; margin: 0 auto">
                                        <ngb-carousel *ngIf="getAllPhotoPatient">
                                            <ng-template ngbSlide *ngFor="let row of photoPatient ">
                                                <img src="{{row.amazonLink}}" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <h3 class="text-white font-bold">First slide label</h3>
                                                    <p>Sono Bello is America’s top cosmetic surgery specialist</p>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>


                                    <!---....................start surgery------------>


                                    <div class="carouselPic" style="width: 550px ; margin: 0 auto">
                                        <ngb-carousel *ngIf="getAllPhotoBySurgery">
                                            <ng-template ngbSlide *ngFor="let row of photoSurgery ">
                                                <img src="{{row.amazonLink}}" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <h3 class="text-white font-bold">First slide label</h3>
                                                    <p>Sono Bello is America’s top cosmetic surgery specialist</p>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                    <!---....................end surgery------------>


                                    <!---....................start surgery and cat------------>

                                    <div class="carouselPic" style="width: 550px ; margin: 0 auto">

                                        <ngb-carousel *ngIf="getAllPhotoBySurgeryAndCat">
                                            <ng-template ngbSlide *ngFor="let row of photoSurgeryAndCat ">
                                                <img src="{{row.amazonLink}}" alt="Random first slide">
                                                <div class="carousel-caption">
                                                    <h3 class="text-white font-bold">First slide label</h3>
                                                    <p>Sono Bello is America’s top cosmetic surgery specialist</p>
                                                </div>
                                            </ng-template>
                                        </ngb-carousel>
                                    </div>
                                    <!---....................end surgery and cat------------>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--..............start drag and drop........................-->

                <div class="pageMain">
                    <div class="card1">
                        <div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong><p>To compare
                            images,
                            please drag and drop the photos into black rectangle .</p></strong></div>
                        <div class="container">
                            <!--<h2>Drag and Drop</h2>-->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mainComponent">
                                        <div id="div1"
                                             (drop)="drop($event)"
                                             (dragover)="allowDrop($event)">

                                            <div class="testttt" *ngIf="getAllPhotoPatient">
                                                <div class="row">
                                                    <div class="col-md-4"
                                                         *ngFor="let row of photoPatient ;let i = index ">
                                                        <div class="imgCompare">
                                                            <img src="{{row.amazonLink}}" draggable="true"
                                                                 (dragstart)="drag($event)" id="{{i}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-----...........start surgery....----------------->


                                            <div class="testttt" *ngIf="getAllPhotoBySurgery">
                                                <div class="row">
                                                    <div class="col-md-4"
                                                         *ngFor="let row of photoSurgery ;let j = index ">
                                                        <div class="imgCompare">
                                                            <img src="{{row.amazonLink}}" draggable="true"
                                                                 (dragstart)="drag($event)" id="{{j}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-----...........end surgery....----------------->


                                            <!-----...........start cat and surgery....----------------->


                                            <div class="test12" *ngIf="getAllPhotoBySurgeryAndCat">
                                                <div class="row">
                                                    <div class="col-md-4"
                                                         *ngFor="let row of photoSurgeryAndCat ;let k = index ">
                                                        <div class="imgCompare">
                                                            <img src="{{row.amazonLink}}" draggable="true"
                                                                 (dragstart)="drag($event)" id="{{k}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-----...........end cat and surgery....----------------->


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="ba-slider" id="div2"
                                         (drop)="drop($event)"
                                         (dragover)="allowDrop($event)">
                                        <img class="divTw" src=""/>
                                        <div class="resize">
                                            <img class="divTw" src=""/>
                                        </div>
                                        <span class="handle"></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!--.................start filter on Images......................-->

                <!--<div class="pageMain">-->
                <!--<div class="card1">-->
                <!--&lt;!&ndash;<section>&ndash;&gt;-->
                <!--<div id="selectionbar"></div>-->
                <!--<div id="dynaflex">-->
                <!--<figure data-group="Liposuction">-->
                <!--<img src="../../../assets/images/lipo1.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Liposuction">-->
                <!--<img src="../../../assets/images/lipo2.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Liposuction">-->
                <!--<img src="../../../assets/images/lipo3.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Eyes-surgery">-->
                <!--<img src="../../../assets/images/eye-surgery2.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Eyes-surgery">-->
                <!--<img src="../../../assets/images/eye-surgery3.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Microneedling">-->
                <!--<img src="../../../assets/images/micro1.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Microneedling">-->
                <!--<img src="../../../assets/images/micro2.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Microneedling">-->
                <!--<img src="../../../assets/images/micro3.jpg" alt>-->
                <!--</figure>-->
                <!--<figure data-group="Microneedling">-->
                <!--<img src="../../../assets/images/micro4.jpg" alt>-->
                <!--</figure>-->
                <!--</div>-->
                <!--&lt;!&ndash;</section>&ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="pageMain">-->
                <!--<div class="card1">-->
                <!--<div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong><p>Please fill the-->
                <!--checkbox to print your Images .</p></strong></div>-->

                <!--&lt;!&ndash;<div class="printPhoto">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="test3" *ngIf="getAllPhotoPatient">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-3" *ngFor="let row of photoPatient ;let i = index ">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="imgPrint">&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="divImgP{{i}}">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="imgShow" src="{{row.amazonLink}}">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="form-check">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" name="expCheck[]" value="true" class="form-check-input"&ndash;&gt;-->
                <!--&lt;!&ndash;id="exampleCheck2">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="form-check-label">Print</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;&lt;!&ndash;-...................start surgery......&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="test3" *ngIf="getAllPhotoBySurgery">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-3" *ngFor="let row of photoSurgery ;let j = index ">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="imgPrint">&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="divImgS{{j}}">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="imgShow" src="{{row.amazonLink}}">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="form-check">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" name="expCheck[]" value="true" class="form-check-input"&ndash;&gt;-->
                <!--&lt;!&ndash;id="exampleCheck3">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="form-check-label">Print</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;-..................end surgery......&ndash;&gt;&ndash;&gt;-->


                <!--&lt;!&ndash;&lt;!&ndash;-...................start surgery and cat......&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="test3" *ngIf="getAllPhotoBySurgeryAndCat">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-md-3" *ngFor="let row of photoSurgeryAndCat ;let k = index ">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="imgPrint">&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="divImgC{{k}}">&ndash;&gt;-->
                <!--&lt;!&ndash;<img class="imgShow" src="{{row.amazonLink}}">&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="form-check">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="checkbox" name="expCheck[]" value="true" class="form-check-input"&ndash;&gt;-->
                <!--&lt;!&ndash;id="exampleCheck4">&ndash;&gt;-->
                <!--&lt;!&ndash;<label class="form-check-label">Print</label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;-..................end surgery and cat......&ndash;&gt;&ndash;&gt;-->


                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--<div class="col-lg-2 col-md-4">-->
                <!--<button type="button" class="btn btn-block btn-outline-success" (click)="print()">Print <i-->
                <!--class="fa fa-print"></i></button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

            </div>


        </div>
    </div>
    <!--.............start end.....-->


    <!--............start gallery....................-->


</div>


