<!--................uplad Image start...........-->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Photo</h4>
    <button type="button" class="close" aria-label="Close" (click)="clear()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modalPatient">
    <fieldset class="form-group">
        <div class="row">
            <div class="col-sm-12">

                <div class="form-check">
                    <input class="form-check-input" (change)="yesNoCheck1()" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
                    <label class="form-check-label" for="gridRadios1">
                        If You are select date to set on file name , please
                        fill this checkbox
                    </label>
                </div>
                <div class="dateCheckForm" style="display: none" id="dateCheck" >
                    <form name="editForm" role="form" novalidate (ngSubmit)="saveBySurgeryId()" [formGroup]="editForm">


                        <div class="form-group" [hidden]="!photo.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   formControlName="id"
                                   readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_title">Date</label>
                            <input type="date" class="form-control" name="title"
                                   id="field_title"
                                   formControlName="title"/>
                            <small class="text-danger"
                                   *ngIf="editForm.get('title').touched && editForm.get('title').hasError('required')">
                                required
                            </small>
                        </div>

                        <div class="image-upload">
                            <img [src]="imageSrc" height="200"  style="margin-bottom: 10px"/>
                            <input type="hidden" class="form-control" name="image"
                                   id="field_image"
                                   formControlName="image"/>
                            <small class="text-danger"
                                   *ngIf="editForm.get('image').touched && editForm.get('image').hasError('required')">
                                required
                            </small>
                            <input type="hidden" class="form-control" name="imageContentType"
                                   id="field_imageContentType"
                                   formControlName="imageContentType"/>
                            <!--<small class="text-danger"-->
                                   <!--*ngIf="editForm.get('imageContentType').touched && editForm.get('imageContentType').hasError('required')">-->
                                <!--required-->
                            <!--</small>-->
                            <input type="file" accept="image/*"
                                   (change)="handleInputChange($event)"/>
                        </div>

                        <div class="form-group">
                            <!--<label class="form-control-label" for="field_amazonLink">Amazon Link</label>-->
                            <input type="hidden" class="form-control" name="amazonLink"
                                   id="field_amazonLink"
                                   formControlName="amazonLink"/>
                        </div>
                        <div class="form-group">
                            <!--<label class="form-control-label" for="field_amazonId">Amazon Id</label>-->
                            <input type="hidden" class="form-control" name="amazonId"
                                   id="field_amazonId"
                                   formControlName="amazonId"/>
                        </div>


                        <div class="buttonSave" style="margin-top:20px">
                            <button type="submit" id="save-entity" [disabled]="editForm.invalid" class="btn btn-primary">
                                <i class="fa fa-save" style="margin-right: 5px"></i><span>Save</span>
                            </button>
                        </div>




                        <div style="margin-top: 10px">
                            <ngb-alert *ngIf="confirmSaveMsgForm" (close)="confirmSaveMsgForm=false" type="success"
                                       onclose="close()"> The form has been saved successfully
                            </ngb-alert>
                            <ngb-alert *ngIf="errorSaveMsgForm" (close)="errorSaveMsgForm=false" type="danger"
                                       onclose="close()"> Problem Saving form
                            </ngb-alert>

                        </div>




                    </form>
                </div>

                <div class="form-check" style="margin-top: 10px">
                    <input class="form-check-input"  (change)="yesNoCheck2()" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        If You are select title to set on file name , please
                        fill this checkbox
                    </label>
                </div>
                <div id="titleCheck" style="display: none" class="form-group col-md-12">
                    <form name="editForm" role="form" novalidate (ngSubmit)="saveBySurgeryId()"
                          [formGroup]="editForm">


                        <div class="form-group" [hidden]="!photo.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id2" name="id"
                                   formControlName="id"
                                   readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_title">Title</label>
                            <input type="text" class="form-control" name="title"
                                   id="field_title1"
                                   formControlName="title"/>
                            <small class="text-danger"
                                   *ngIf="editForm.get('title').touched && editForm.get('title').hasError('required')">
                                required
                            </small>
                        </div>


                        <div class="image-upload">
                            <img [src]="imageSrc" height="200" style="margin-bottom: 10px"/>
                            <input type="hidden" class="form-control" name="image"
                                   id="field_image2"
                                   formControlName="image"/>
                            <small class="text-danger"
                                   *ngIf="editForm.get('image').touched && editForm.get('image').hasError('required')">
                                required
                            </small>
                            <input type="hidden" class="form-control" name="imageContentType"
                                   id="field_imageContentType2"
                                   formControlName="imageContentType"/>
                            <!--<small class="text-danger"-->
                            <!--*ngIf="editForm.get('imageContentType').touched && editForm.get('imageContentType').hasError('required')">-->
                            <!--required-->
                            <!--</small>-->
                            <input type="file" accept="image/*"
                                   (change)="handleInputChange($event)"/>
                        </div>

                        <div class="form-group">
                            <!--<label class="form-control-label" for="field_amazonLink">Amazon Link</label>-->
                            <input type="hidden" class="form-control" name="amazonLink"
                                   id="field_amazonLink2"
                                   formControlName="amazonLink"/>
                        </div>
                        <div class="form-group">
                            <!--<label class="form-control-label" for="field_amazonId">Amazon Id</label>-->
                            <input type="hidden" class="form-control" name="amazonId"
                                   id="field_amazonId2"
                                   formControlName="amazonId"/>
                        </div>


                        <div class="buttonSave" style="margin-top:20px">
                            <button type="submit" id="save-entity2" [disabled]="editForm.invalid" class="btn btn-primary">
                                <i class="fa fa-save" style="margin-right: 5px"></i><span>Save</span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </fieldset>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <!--<button type="button" class="btn btn-outline-dark button1"   (click)="btnClick()"> Show Details<i class="fa fa-forward" aria-hidden="true"></i></button>-->
    </div>
</div>







