
<style>
    .modal-content {
        width: 600px !important;
        margin: auto;
    }
</style>


<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm"  (keydown.enter)="$event.preventDefault()" >
<div class="modal-header">
        <h4 class="modal-title" id="Label">
            <span>
            Assign Form:&nbsp; {{formName}}
            </span>
            <!--<span [hidden]="!position.id">-->
                <!--Edit Position-->
            <!--</span>-->
            </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">

        <span>
          <!--<table class="table">-->
    <!--<tr *ngFor="let employee of employees;trackBy: let i= index;">-->
    <!--<td>-->
    <!--{{i}}-->
    <!--</td>-->
    <!--<td>-->
    <!--{{employee.id}}-->
    <!--</td>-->
    <!--<td>-->
    <!--{{employee.emailAddress}}-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->

            <div class="row" style="padding-bottom: 0px;">
            <div class="col-sm-12">
                <div class="form-group-clinic">
                    <label  for="field_employees">Employees</label>
                    <!--<select class="form-control" id="field_clinics" multiple name="clinics" [(ngModel)]="employee.clinics">-->
                    <!--<option [ngValue]="getSelected(employee.clinics, clinicOption)" *ngFor="let clinicOption of clinics; trackBy: trackClinicById">{{clinicOption.itemName}}</option>-->
                    <!--</select>-->
                    <angular2-multiselect required id="field_employees" name="employees" [data]="employeesList"
                                          [(ngModel)]="selecteEmployees"
                                          [settings]="employeesDropdownSettings"
                                          (onSelect)="onItemSelect($event)"
                                          (onDeSelect)="OnItemDeSelect($event)"
                                          (onSelectAll)="onSelectAll($event)"
                                          (onDeSelectAll)="onDeSelectAll($event)"
                                          #ems="ngModel">
                    </angular2-multiselect>

<!--          <div class="dropdown-holder">-->
<!--      <ss-multiselect-dropdown name="multiselect" id="field_employees" [texts]="myTexts"-->
<!--                               [settings]="msSettings" [options]="searchOption" (onLazyLoad)="loadData($event)">-->

<!--      </ss-multiselect-dropdown>-->
<!--    </div>-->
                    <!--<small class="text-danger" *ngIf="clinics.errors?.required&& clinics.touched">-->
                        <!--Clinics is required-->
                    <!--</small>-->
                    <!--<angular2-multiselect id="field_clinic"  name="clinic"  [data]="selecteClinicList" [(ngModel)]="employee.clinics"-->
                    <!--[settings]="clinicDropdownSettings"-->
                    <!--(onSelect)="onItemSelect($event)"-->
                    <!--(onDeSelect)="OnItemDeSelect($event)"-->
                    <!--(onSelectAll)="onSelectAll($event)"-->
                    <!--(onDeSelectAll)="onDeSelectAll($event)">-->
<!--                   (keyup)="filter($event)"-->
                    <!--</angular2-multiselect>-->
                </div>
            </div>
        </div>

        </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit"  class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>