
<!--<button type="button" (click)="download()" class="btn btn-info">pdf</button>-->
<!--<button (click)="sendHtmlToserver()">zoom</button>-->

<!-------------------------------START FOR PAGE 1111111111111111111------------------------>
<div class="titlePage"><i class="fa fa-file-text" aria-hidden="true"></i>
    <h2>Form Management</h2>

 <br>
    <br>
    <br>
    <!--<textarea #box>-->

    <table class="table" style=" border-width: thin; text-align: center">
        <tr *ngFor="let form of formNames;trackBy: let i= index;">
            <!--<td>-->
                <!--{{i}}-->
            <!--</td>-->
            <td width="30%">
                {{form.id}}
            </td>
            <td width="30%">
                {{form.itemName}}
            </td>
            <td width="13%">
                <button (click)="assignPopUp(form.itemName)" class="btn btn-info" >
            <span>
             Assign Form To Employee
            </span>
                </button>
            </td>
            <td width="13%">
                <button (click)="assignPositionPopUp(form.itemName)" class="btn btn-dark" >
            <span>
             Assign Form To Position
            </span>
                </button>
            </td>
            <td width="13%">
                <button (click)="assignClinicPopUp(form.itemName)" class="btn btn-primary" >
            <span>
             Assign Form To Clinic
            </span>
                </button>
            </td>
        </tr>
    </table>

<div>
    <!--<button (click)="assignPopUp()" class="btn btn-gray" >-->
    <!--<span>-->
        <!--Assign Form To Employee-->
    <!--</span>-->
    <!--</button>-->
</div>

<!--    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
<!--        <h2 id="jhi-photo-heading">Create or edit a Photo</h2>-->
<!--        <div>-->

<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_title">Title</label>-->
<!--                <input type="text" class="form-control" name="title" id="field_title"-->
<!--                       formControlName="title"/>-->
<!--                <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">-->
<!--                    <small class="form-text text-danger"-->
<!--                           *ngIf="editForm.get('title').errors.required">-->
<!--                        This field is required.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_description">Description</label>-->
<!--                <textarea class="form-control" name="description" id="field_description"-->
<!--                          formControlName="description"></textarea>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_image">Image</label>-->
<!--                <div>-->
<!--                    <img [src]="'data:' + editForm.get('imageContentType').value + ';base64,' + editForm.get('image').value" style="max-height: 100px;" *ngIf="editForm.get('image').value" alt="photo image"/>-->
<!--                    <div *ngIf="editForm.get('image').value" class="form-text text-danger clearfix">-->
<!--                        <span class="pull-left">{{editForm.get('imageContentType').value}}, {{byteSize(editForm.get('image').value)}}</span>-->
<!--                        <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <input type="file" id="file_image" (change)="setFileData($event, 'image', true)" accept="image/*"/>-->
<!--                </div>-->
<!--                <input type="hidden" class="form-control" name="image" id="field_image"-->
<!--                       formControlName="image"/>-->
<!--                <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"-->
<!--                       formControlName="imageContentType" />-->
<!--                <div *ngIf="editForm.get('image').invalid && (editForm.get('image').dirty || editForm.get('image').touched)">-->
<!--                    <small class="form-text text-danger"-->
<!--                           *ngIf="editForm.get('image').errors.required">-->
<!--                        This field is required.-->
<!--                    </small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_height">Height</label>-->
<!--                <input type="number" class="form-control" name="height" id="field_height"-->
<!--                       formControlName="height"/>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_width">Width</label>-->
<!--                <input type="number" class="form-control" name="width" id="field_width"-->
<!--                       formControlName="width"/>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_taken">Taken</label>-->
<!--                <div class="d-flex">-->
<!--                    <input id="field_taken" type="datetime-local" class="form-control" name="taken" formControlName="taken" placeholder="YYYY-MM-DD HH:mm"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_uploaded">Uploaded</label>-->
<!--                <div class="d-flex">-->
<!--                    <input id="field_uploaded" type="datetime-local" class="form-control" name="uploaded" formControlName="uploaded" placeholder="YYYY-MM-DD HH:mm"/>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_isArchived">Is Archived</label>-->
<!--                <input type="checkbox" class="form-control" name="isArchived" id="field_isArchived"-->
<!--                       formControlName="isArchived"/>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_amazonLink">Amazon Link</label>-->
<!--                <input type="text" class="form-control" name="amazonLink" id="field_amazonLink"-->
<!--                       formControlName="amazonLink"/>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_amazonId">Amazon Id</label>-->
<!--                <input type="text" class="form-control" name="amazonId" id="field_amazonId"-->
<!--                       formControlName="amazonId"/>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_category">Category</label>-->
<!--                <select class="form-control" id="field_category" name="category" formControlName="category">-->
<!--                    <option [ngValue]="null"></option>-->
<!--                    <option [ngValue]="categoryOption.id === editForm.get('category').value?.id ? editForm.get('category').value : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>-->
<!--                </select>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_owner">Owner</label>-->
<!--                <select class="form-control" id="field_owner" name="owner" formControlName="owner">-->
<!--                    <option [ngValue]="null"></option>-->
<!--                    <option [ngValue]="ownerOption.id === editForm.get('owner').value?.id ? editForm.get('owner').value : ownerOption" *ngFor="let ownerOption of owners; trackBy: trackOwnerById">{{ownerOption.id}}</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_folder">Folder</label>-->
<!--                <select class="form-control" id="field_folder" name="folder" formControlName="folder">-->
<!--                    <option [ngValue]="null"></option>-->
<!--                    <option [ngValue]="folderOption.id === editForm.get('folder').value?.id ? editForm.get('folder').value : folderOption" *ngFor="let folderOption of folders; trackBy: trackFolderById">{{folderOption.id}}</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="form-control-label" for="field_organization">Organization</label>-->
<!--                <select class="form-control" id="field_organization" name="organization" formControlName="organization">-->
<!--                    <option [ngValue]="null"></option>-->
<!--                    <option [ngValue]="organizationOption.id === editForm.get('organization').value?.id ? editForm.get('organization').value : organizationOption" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.id}}</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">-->
<!--                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>-->
<!--            </button>-->
<!--            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">-->
<!--                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->


</div>




