.form-group-clinic .ng-invalid:not(form) {
    float: right;
    width: 100%;
}

/*.inlineRadio>p,input.form-check-input{*/
    /*display: inline-block;*/
/*}*/
/*.radioInlineRight input.form-check-input{*/
    /*float: right !important;*/
/*}*/
/*.titleForm h3{*/
    /*margin: 20px 0px;*/
/*}*/
/*.pages h2{*/
    /*margin: 20px 0px;*/
/*}*/
/*.paddingTextarea .col-md-6{*/
    /*padding-left: 0px !important;*/

/*}*/
/*.paddingTextarea .col-md-4{*/
    /*padding-left: 0px !important;*/
/*}*/
/*.paddingTextarea .col-md-12{*/
    /*padding-left: 0px !important;*/
    /*padding-right: 0px !important;*/
/*}*/
/*.page1{*/
    /*border: 1px solid #8080802b;*/
    /*background-color: white;*/
    /*box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);*/
/*}*/
/*.titlePage{*/
    /*padding: 15px;*/
/*}*/
/*.titlePage>i,h2{*/
    /*display: inline-block;*/
/*}*/
/*.titlePage i{*/
    /*font-size: 25px;*/
    /*padding-right: 7px;*/
    /*color: #747974d1;*/
/*}*/
/*.titlePage h2{*/
    /*color: #747974d1;*/
/*}*/
/*.titleForm h3{*/
    /*color: #8080808c;*/
    /*border-bottom: 1px solid #a94442;*/
    /*padding-bottom: 12px;*/
/*}*/
/*.page1 button.btn-primary{*/
    /*margin: 20px 0px;*/
/*}*/
/*.borderValid .ng-valid[required], .ng-valid.required  {*/
    /*border-left: 5px solid #42A948; !* green *!*/
    /*background-color: #00acc1;*/
/*}*/
/*.borderValid .ng-invalid:not(form)  {*/
    /*border-left: 5px solid #a94442 !important; !* red *!*/
/*}*/
/*.panel-heading button.btn-danger{*/
    /*margin-top: 10px;*/
/*}*/
/*.backgroundIncrement{*/
    /*margin: 20px 0px;*/
/*}*/
/*.backgroundIncrement span{*/
    /*background-color: #615f5f;*/
    /*color: white;*/
    /*padding: 5px 10px;*/
    /*border-radius: 3px;*/


/*}*/
/*.textJust{*/
    /*text-align: justify;*/
/*}*/
/*.buttonDanger button.btn-danger{*/
    /*margin-top: 23px;*/
/*}*/
/*!*.page1 input,textarea{*!*/
    /*!*border: 1px solid #67696b !important;*!*/
/*!*}*!*/
/*.borderGrid{*/
    /*border: 1px dashed #9c9396;*/
    /*padding: 15px;*/
/*}*/
/*.checked i.fa-check-square{*/
    /*float: right;*/
    /*font-size: 34px;*/
    /*color: green;*/
    /*padding: 10px 10px;*/
/*}*/

/*.checked i.fa-warning{*/
    /*float: right;*/
    /*font-size: 34px;*/
    /*color: red;*/
    /*padding: 10px 10px;*/
/*}*/
/*.confirmSave{*/
    /*width: 15%;*/
    /*background-color: #eeeeee;*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*color: green;*/
    /*border-radius: 3px;*/
    /*margin-top: 10px;*/
    /*margin-right: 15px;*/
    /*box-shadow: 2px 2px 2px #cbcbcb;*/
/*}*/
/*.ng-valid{*/
    /*display: none;*/
/*}*/
/*!*.confirmSave>i,p{*!*/
    /*!*display: inline-block;*!*/
    /*!*padding-top: 10px;*!*/
    /*!*padding-right: 5px;*!*/
/*!*}*!*/
/*!*.confirmSaveNot{*!*/
    /*!*width: 15%;*!*/
    /*!*background-color: #eeeeee;*!*/
    /*!*text-align: center;*!*/
    /*!*margin-left: auto;*!*/
    /*!*color: red;*!*/
    /*!*border-radius: 3px;*!*/
    /*!*margin-top: 10px;*!*/
    /*!*margin-right: 15px;*!*/
    /*!*box-shadow: 2px 2px 2px #cbcbcb;*!*/
/*!*}*!*/
/*!*.confirmSaveNot>i,p{*!*/
    /*!*display: inline-block;*!*/
    /*!*padding-top: 10px;*!*/
    /*!*padding-right: 5px;*!*/
/*!*}*!*/
