<!-- Credit: http://jurassicpark.wikia.com/wiki/Jurassic_Park_Wiki -->
<div class="container">
  <h1>The Raptor Squad</h1>
  <div class="tabpanel">
    <input type="radio" name="tab" id="tabpanel__tab-1" class="tabpanel__tab" checked="checked"/>
    <label for="tabpanel__tab-1" class="tabpanel__tablabel">Owen</label>
    <input type="radio" name="tab" id="tabpanel__tab-2" class="tabpanel__tab" />
    <label for="tabpanel__tab-2" class="tabpanel__tablabel">Blue</label>
    <input type="radio" name="tab" id="tabpanel__tab-3" class="tabpanel__tab" />
    <label for="tabpanel__tab-3" class="tabpanel__tablabel">Charlie</label>
    <!--<input type="radio" name="tab" id="tabpanel__tab-4" class="tabpanel__tab" />-->
    <!--<label for="tabpanel__tab-4" class="tabpanel__tablabel">Delta</label>-->
    <!--<input type="radio" name="tab" id="tabpanel__tab-5" class="tabpanel__tab" />-->
    <!--<label for="tabpanel__tab-5" class="tabpanel__tablabel">Echo</label>-->

    <div class="tabpanel__panels">
      <div class="tabpanel__panel" id="tabpanel__panel-1">
        <div class="media">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/owen.png" alt="Owen Grady" class="media__img" />
          <div class="media__body">
            <h2>Early life</h2>
            <p>Prior to his occupation in Jurassic World, Owen was a member of the U.S. Navy. During his time in the Navy he trained dolphins (presumably under the United States Navy Marine Mammal Program) and had been in combat before.</p>
            <h2>IBRIS Project</h2>
            <p>After getting out of the Navy, Owen Grady was hired by the InGen Security Division to train and research the behaviors of Velociraptor. Many raptors died over the course of the project from either failed training techniques or fighting among themselves.</p>
            <p>In 2013, after discovering that the pack dynamic of Velociraptor was more complex than previously thought, he recommended his old friend Barry to Vic Hoskins to help in the training of the raptors.[5] Barry was eventually hired as trainer and caretaker of the raptors.</p>
            <p>By 2015, he was the alpha of a Velociraptor pack which consisted of Blue, Charlie, Delta, and Echo. As he worked for Jurassic World, he lived in a Sunrio bungalow in the outskirts of the park.</p>
          </div>
        </div>

      </div>
      <div class="tabpanel__panel" id="tabpanel__panel-2">
        <div class="media">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/blue.png" alt="Blue" class="media__img" />
          <div class="media__body">
            <h2>Creation</h2>
            <p>Blue was created by InGen for the IBRIS Project sometime before 2015 and was the first Velociraptor to be created for the latest pack. She was created with the DNA of the Black-throated monitor lizard, which allowed her scales to reflect an iridescent blue color, giving her the distinctive pattern that she was named after. Out of all the raptors that were to be created following her birth, she was the largest. When she was born, Owen Grady imprinted on her, which allowed him to train her. During her youth, she and Echo engaged in a fight for dominance over the park's Velociraptor pack, of which Blue was the victor.</p>
          </div>
        </div>
      </div>
      <div class="tabpanel__panel" id="tabpanel__panel-3">
        <div class="media">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/charlie.png" alt="Charlie" class="media__img" />
          <div class="media__body">
            <h2>Creation</h2>
            <p>Charlie was created by InGen as an attraction for the IBRIS Project. She is the youngest of the park's Velociraptor pack consisting of Blue, Delta, and Echo. Her skin pattern is the result of using Green Iguana DNA in his genetic coding. In her birth, Owen Grady imprinted on her and trained her along with her siblings.</p>
          </div>
        </div>
      </div>
      <div class="tabpanel__panel" id="tabpanel__panel-4">
        <div class="media">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/delta.png" alt="Delta" class="media__img" />
          <div class="media__body">
            <h2>Creation</h2>
            <p>Delta was the second Velociraptor to be created by InGen for the IBRIS Project. She was created using more avian DNA, resulting in more birdlike movements and actions.She belonged to a pack consisting of Blue, Charlie, and Echo. She and her pack were trained by Owen Grady, who imprinted on them in their birth. It is assumed Delta was the second in command of the pack because of her age.</p>
          </div>
        </div>
      </div>
      <div class="tabpanel__panel" id="tabpanel__panel-5">
        <div class="media">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/echo.png" alt="Echo" class="media__img" />
          <div class="media__body">
            <h2>Creation</h2>
            <p>Echo was created by InGen for the IBRIS Project where she was the third Velociraptor created for the facility. When she was born, Owen Grady imprinted on her, which allowed him to train her. In her youth, she battled Blue for control of the park's Velociraptor pack, but Blue was the victor. Echo gained a scar across her face from the encounter and her jaw became permanently offset. Due to her permanent sneer, some of the Jurassic World dinosaur handlers nicknamed her "Elvis".</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
