body{
  font-family: Arial;
}

.patientMain{
  box-shadow:  1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f7f4fa42;
  margin: 50px 0px;
  //padding: 0px 20px;
}
.imgPatient {
  width: 100%;
  height: 374px;
  background: url("../../../assets/img/3face.jpg");
  background-size: 100% 100%;
}
.backText .col-md-4{
  padding: 20px 20px 20px 20px;
  margin: 30px 14px 10px 63px;
}
.backText h5:first-child{
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #752dac;
}
.backText h5:nth-child(2){
  font-size: 23px !important;
  line-height: 1.5;
  font-weight: 600;
  color: #2c2f80;
}
.backText p{
  font-size: 17px ;
  color: black;
  font-weight: 400;
}
.tabDetail  p:not(:last-child) {
  margin: 0 0 20px;
}

.tabDetail section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

.tabDetail  input {
  display: none;
}

.tabDetail label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
  width: 33%;
  font-family: Cambria;
}

.tabDetail label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabDetail label[for*='1']:before { content: '\f007'; }
.tabDetail label[for*='2']:before { content: '\f022'; }
.tabDetail label[for*='3']:before { content: '\f030'; }
//label[for*='4']:before { content: '\f171'; }

.tabDetail label:hover {
  color: #789;
  cursor: pointer;
}

.tabDetail input:checked + label {
  color:#2cd8db;
  border: 1px solid #abc;
  border-top: 2px solid #009da0;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  min-height: 400px;
  overflow: hidden;
}
#content1  , #content2 , #content3 , #content4{
  padding: 20px;
}

#content2 h5{
  color: #5f5d5e;
  font-style: italic;
  font-size: 22px;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}
/*.......end tab..........*/

.patientInfo{
  border: 1px solid #80808054;
  padding: 20px;
  background-color: #fff;
}
.ImgInfo img{
  width: 100%;

}
.mainInfo{
  font-family: Arial;
}
.mainInfo strong{
  color: #009da0;
}
.mainInfo p{
  color: #000;
}
#content1 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
#content2 h5{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 15px;
}
/*.................timline start*/
.buttonAdd{
  overflow: hidden;
}
.buttonAdd .btn-info{
  font-size: 12px;
}
.buttonAdd i.fa-plus{
  margin-right: 3px;
}
.timeline {
  padding: 0px 5%;
}

.timeline-item {
  flex-direction: column;
  border-left: 2px solid #e0e0e0;

  > div {
    border-width: 0px !important;
    text-align: left !important;
    order: unset !important;

    &:last-child {
      text-align: left;
      padding-bottom: 40px !important;
    }
  }

  &:nth-child(odd){
    > div:first-child {
      text-align: right;
      position: relative;

      &::after {
        left: 0% !important;
      }
    }

    > div:last-child {
      text-align: left;
      border-left: 2px solid #e0e0e0;
    }

    .timeline-content > h2 {
      text-align: left !important;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;
    }
  }

  &:nth-child(even){
    > div:first-child {
      order: 2;
      text-align: left !important;

      position: relative;

      &::after {
        left: -1px;
      }
    }

    > div:last-child {
      order: 1;
      text-align: right;
      border-right: 2px solid #e0e0e0;
    }

    .timeline-date > div {
      margin-left: 20px;
      margin-bottom: 16px;
      font-family: Arial;

    }

    .timeline-content > h2 {
      text-align: right !important;
    }
  }

  > div:first-child::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: #009da0;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #2cd8db;
  }



  .timeline-date > div {
    background-color: #009da0;
    box-shadow: 0 0 0 2px #2cd8db;
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 4px 11px;
  }

  .timeline-content{
    .fa-icon{
      font-size: 80px;
    }

    > h2 {
      margin: 0px;
      font-size: 1.5em;
      font-weight: bold;
      color: #009da0;
    }
  }

  &:not(:last-child) .timeline-content > .fa-icon{
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .timeline-item {
    flex-direction: column;
    border-left: 2px solid #e0e0e0;

    > div {
      border-width: 0px !important;
      text-align: left !important;
      order: unset !important;

      &::after {
        left: 0% !important;
      }
    }

    &:nth-child(odd) .timeline-content > h2 {
      text-align: left !important;
    }

    &:nth-child(even) .timeline-content > h2 {
      text-align: left !important;
    }
  }
}

.mainTimeline{
  border: 1px solid #80808054;
  padding: 20px;
  font-family: Montserrat,sans-serif;
  background-color: white;

}

.stateTimeline{
  padding: 16px;
  position: relative;
  background-color: #9ee6e759;
  box-shadow: 0 0 0 1px #2cd8db;
  border-radius: 5px;
  margin-left: 23px;
  //height: 300px;

}
//

.mainTimeline i.fa-folder{
  color: #ffd466;
}

.stateTimeline i.fa-home , i.fa-user{
  font-size: 80px;
}

.timeline-item:nth-child(odd) >.timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 9px;
  height: 22px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -17px;
  top: 7px;
}
.timeline-item:nth-child(even) > .timeline-content .stateTimeline:after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #9ee6e759;
  z-index: 1;
  left: -16px;
  top: 8px;}
.stateTimeline .col-md-8 img{
  width: 31%;
  height: 137px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.timeline button{
  float: right;
  z-index: 1000 !important;
}
.InfoSurgery{
  padding: 20px 50px;
  font-family: arial;
  text-align: justify;
}

.InfoSurgery i{
font-size: 17px;
  color: #ff586b;
}
.InfoSurgery span{
  color: black;
}
/*.................timline end*/

/*.....start for modal........*/
.modalSurgery{
  padding: 10px 35px;
  line-height: 2;
  font-family: Arial;
}
.btnSearch .btn{
  padding: 0px 8px !important;
  margin-left: 69px;
}
.btnSearch i.fa-search{
  font-size: 11px;
  padding-bottom: 10px;
}
.modalSurgery .form-check:first-child{
  line-height: 1.5;
}
.modalSurgery .row{
  margin-left: 4px;
  margin-top: 5px;
}
.radioModal .form-check-input{
  margin-top: 9px !important;
}
.modalSurgerySearch{
  padding: 25px 20px;
  font-family: Arial;
}
.modalSurgerySearch .btn-xs{
  padding: 6px 19px !important;
  margin-bottom: 10px;
}
.responseTable table{
  font-size: 13px;
}

/*.....start for modal........*/

/*...........strat tab2......*/

.tab2{
  margin: 0;
  box-sizing: border-box;
  border-top: 0px;
  border-bottom: 1px #ff586b;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
}

.tabMain {
  cursor: pointer;
  display: inline-block;
  width: 19%;
  height: 50px;
  margin-left: 10px;
  border-radius: 5px 5px 0px 0px;
  box-sizing: border-box;
  text-align: center;
  color: gray;
  transition: all .3s ease;
  border-top: 0px #999999;
  border-left: 0px #999999;
  border-right: 0px #999999;
  border-bottom: 0px;
  border-style: solid;
  margin-bottom: -1px;
  &.chosen {
    color: #ff0320 ;
    border-top: 1px #ff0320;
    border-left: 1px #ff0320;
    border-right: 1px #ff0320;
    //border-bottom: 0px #28A3B3 !important;
    border-style: solid;
    background: #fff;

    & h4{
      color: #ff0320;
    }
  }
}

.tabMain:hover {
  //background: #e8edf175;
  //border-bottom: 1px solid blue;
  &.chosen {
    background: #fff;
    color: #ff586b;
  }
}

.tabMain h4{
  line-height: 1.5;
  font-size: 15px;
  font-family: Cambria;
}

.page2 {
  margin: 0;
  border-radius: 5px 5px 0px 0px;
  min-height: 450px;
}

.pageMain {
  margin: 0;
  width: 100%;
  //height: 300px;
  transition: all .3s ease;
  display: none;
  &.shown {
    display: block;
    margin-top: 25px;
  }
}
#content3{
  background: #e8edf100;
  color: #000;
  font-family: arial;
}
.MarginTab2{
  margin: 30px;
}
//..........................................start gallery.....................................

#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 0px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
      width: 60%;
    }
    @media screen and (min-width:1200px) {
      width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}
/*........................................................................start slider......................................*/
.card img {
  height: 450px;
  width: 100% !important;
}
.card1{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 15px;
}
//.......................................start drag and drop..............................................................//
.titleCompare i{
  display: inline-block;
}
.titleCompare p{
  display: inline-block;
}
.titleCompare i{
  padding-left: 15px;
  padding-right: 3px;
  color: #ff586b;
}
.titleCompare p{
  padding-top: 25px;
  font-family: "Comic Sans MS";

}
#div1 {
  /*float: left;*/
  /*width: 270px;*/
  height: 180px;
  margin: 10px;
  /*padding: 10px;*/
  /*border: 1px solid black;*/
}
#div2 {
  width: 800px;
  height: 350px;
  background-color: #000000;
  box-shadow: 1px 1px 7px #994f4f;
//background: linear-gradient(#020024 0%, #090979 25%, #00d4ff 50%);

}



.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:3px;
  margin-left:-2px;
  background: #fff;
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  margin: -25px 0 0 -21px;
  content: '\21d4';
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 44px;
  background: #ff586b;
  border: 1px solid #ff586b;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow:
    0 2px 6px rgba(0,0,0,.3),
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:48px;
  font-size:30px;
}

/*......my self style......*/
.mainComponent .row{
  border: 1px solid gray;
  background-color :#000000;
  background-image: linear-gradient(315deg, #000000 0%, #205b5f 74%);
  border-radius: 5px;
}
.ba-slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ff586b2b;
  border-radius: 5px;
}
.imgCompare img{
  height: 180px ;
  width: 100%;
  padding: 15px 0px;
}

//.......................................end drag and drop..............................................................//

//........................................start filter on images........................//

/*........start for multi select......*/
#selectionbar {
  max-width: 1000px;
  margin: 19px auto;
  background: rgba(67, 59, 59, 0.3);;
  text-align: center;
  padding: .5rem;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray, 1px 1px 6px gray ;
}
#dynaflex {
  display: flex;
  font-size: 0;
  flex-flow: row wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}
#dynaflex figure {
  margin: 0; min-width: 201px;
  flex: 0.67; transition: .5s;
}
#dynaflex figure.cub {
  flex: 0.568;
  min-width: 170.49px;
}
#dynaflex figure.on-grass {
  flex: 1;
  min-width: 300px;
}
#dynaflex figure.diminish {
  min-width: 0; flex: 0;
}
#dynaflex figure img {
  width: 100%;
  height: auto;
  padding: 5px;
}
.card1 #categories{
  margin-top: 26px;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
}
/*..............start print................................................................................*/
.imgPrint {
  border: 1px solid #8080805e;
  padding: 10px;
  margin: 20px 10px;
}
.imgPrint:hover{
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);}
.imgPrint img{
  width: 100%;
  height: 150px;
}
.imgPrint input{
  display: block !important;
}
.imgPrint label{
  padding: 7px !important;
  font-size: 16px;
  width: 35% !important;
  font-family: auto;
}
.imgPrint label:before{
  content: '' !important;
}
.imgPrint .form-check-input{
  margin-top: 12px !important;
  margin-left: 0px !important;
  left: 0px ;
}
.imgPrint .form-check{
  padding-left: 0px !important;
}
.imgPrint input:checked + label{
  border-top: 0px !important;
  border: 0px !important;
  //color: red !important;
}
.imgPrint input[type = 'checkbox' ]{
  width: 15px;
  height: 15px;
}
/*..................................start drop down..........................*/
//.surgeryDropdown .dropdown {
//  position: relative;
//  display: inline-block;
//}
//
//.surgeryDropdown .dropdown > input[type="checkbox"] {
//  position: absolute;
//  left: -100vw;
//}
//
//.surgeryDropdown .dropdown > label,
//.surgeryDropdown .dropdown > a[role="button"] {
//  display: inline-block;
//  padding: 6px 57px 6px 10px;
//  color: #333;
//  line-height: 1.5em;
//  text-decoration: none;
//  border: 1px solid #8c8c8c;
//  cursor: pointer;
//  -webkit-border-radius: 3px;
//  -moz-border-radius: 3px;
//  border-radius: 3px;
//  width: 100% !important;
//}
//
//.surgeryDropdown .dropdown > label:hover,
//.surgeryDropdown .dropdown > a[role="button"]:hover,
//.surgeryDropdown .dropdown > a[role="button"]:focus {
//  border-color: #333;
//}
//
//.surgeryDropdown .dropdown > label:after,
//.surgeryDropdown .dropdown > a[role="button"]:after {
//  content: "\f0d7";
//  font-family: FontAwesome;
//  display: inline-block;
//  margin-left: 6px;
//}
//
//.surgeryDropdown .dropdown > ul {
//  position: absolute;
//  z-index: 999;
//  display: block;
//  left: -100vw;
//  top: calc(1.5em + 14px);
//  border: 1px solid #8c8c8c;
//  background: #fff;
//  padding: 6px 0;
//  margin: 0;
//  list-style: none;
//  width: 100%;
//  -webkit-border-radius: 3px;
//  -moz-border-radius: 3px;
//  border-radius: 3px;
//  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
//  box-shadow: 0 3px 8px rgba(0,0,0,.15);
//}
//
//.surgeryDropdown .dropdown > ul a {
//  display: block;
//  padding: 6px 12px;
//  text-decoration: none;
//  color: #333;
//  font-size: 13px;
//}
//
//.surgeryDropdown .dropdown > ul a:hover,
//.surgeryDropdown .dropdown > ul a:focus {
//  background: #ececec;
//}
//
//.surgeryDropdown .dropdown > input[type="checkbox"]:checked ~ ul,
//.surgeryDropdown .dropdown > ul:target {
//  left: 0;
//}
//
//.surgeryDropdown .dropdown > [type="checkbox"]:checked + label:after,
//.surgeryDropdown .dropdown > ul:target ~ a:after {
//  content: "\f0d8";
//}
//
//.surgeryDropdown .dropdown a.close {
//  display: none;
//}
//
//.surgeryDropdown .dropdown > ul:target ~ a.close {
//  display: block;
//  position: absolute;
//  left: 0;
//  top: 0;
//  height: 100%;
//  width: 100%;
//  text-indent: -100vw;
//  z-index: 1000;
//}
//.surgeryDropdown .dropdown + h2 {
//  margin-top: 60px;
//}
.surgeryDropdown ul li {
  list-style-type : none;
  padding: 5px 0px;
  font-family: Arial;
}
.surgeryDropdown ul li a {
  color: #070607 !important;
}
.surgeryDropdown ul li a:hover {
  color: blue !important;
}
.surgeryDropdown i.fa{
  margin-right: 10px;
  //color: #126a6c;
  color: #ff586b;
  font-size: 17px;
}
.surgeryDropdown ul{
  padding-left: 0px !important;

}
/*....................end drop down......................*/
/*.........new tab responsive............................*/
@media screen and (min-width: 768px) {
  .tabDetail .tabpanel__tablabel {
    display: inline-block;
    float: none;
    width: auto;
  }
}

@media  (max-width: 768px) {
   .tabMain {
    //display: inline-block;
    //float: none;
    width: 100% !important;
     background-color: #00aaff;
  }
}
/*.........end new tab responsive............................*/
