<div class="container">
  <div class="patientMain">
    <div class="imgPatient">
      <div class="backText">
        <div class="row">
          <div class="col-md-4">
            <h5>One-Day</h5>
            <!--<br/>-->
            <h5>Fat Removal</h5>
            <!--<br/>-->
            <p>When it comes to your health and happiness, you deserve the best. <strong>Sono Bello </strong> is
              America’s top cosmetic surgery specialist</p>
          </div>
        </div>

      </div>
    </div>
    <!--............start tab...........-->
    <div class="tabDetail">
      <main>

        <input id="tab1" type="radio" name="tabs" class="tabpanel__tab" checked>
        <label  class="tabpanel__tablabel" for="tab1">Patient Info</label>

        <input id="tab2" type="radio" name="tabs" class="tabpanel__tab">
        <label  class="tabpanel__tablabel" for="tab2">Surgical Information</label>

        <input id="tab3" type="radio" name="tabs" class="tabpanel__tab">
        <label  class="tabpanel__tablabel" for="tab3">Photo</label>

        <section id="content1">
          <h5>Patient Information</h5>

          <div class="patientInfo">

            <div class="row">
              <div class="col-md-8">
                <div class="mainInfo">
                  <p><strong>Name : </strong>Elnaz</p>
                  <p><strong>Last Name : </strong>Habibi</p>
                  <p><strong>Weight : </strong>560Kg</p>
                  <p><strong>Age : </strong>33</p>
                  <p><strong>Address : </strong>560 st , ght avenue , no 44</p>
                  <p><strong>Gender : </strong>Female</p>
                  <p><strong>Date of birth : </strong>1986/05/09</p>

                </div>
              </div>
              <div class="col-md-4">
                <div class="ImgInfo">
                  <img src="../../../assets/img/style.png">
                </div>
              </div>
            </div>

          </div>
        </section>

        <section id="content2">
          <h5 align="center">Elnaz Habibi</h5>
          <div class="container mainTimeline">
            <!--<p align="center" style="color: #673AB7 ; font-style: italic ;     font-size: 22px;">Jesika Alba</p>-->
            <div class="InfoSurgery">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span>
              In order to upload photos please click on the below folder with the Patient name on it, click on"Add Default sub Folders", then select the appropriate sub folder and click on "Add Photos". If your desire sub folder doesn't exist on the list of default sub folders you can click on "Add Folder" to create it.
            </span>
            </div>
            <div class="timeline timeline-purple">
              <!--<button type="button" (click)="openFolder(content)" class="btn btn-primary">Add Folder</button>-->

              <div class="timeline-item">
                <div class="timeline-date">
                  <div>
                    Eduardo Avila 03/ 27/ 2019
                  </div>
                </div>
                <div class="timeline-content">
                  <div class="stateTimeline">


                    <div class="row">
                      <div class="col-md-4">
                        <div class="surgeryDropdown">
                          <ul>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial pre
                              Operation</a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial surgery</a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 24 hours</a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 1 week </a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 1 month </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 2 month </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 3 month </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 6 month </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Face misc</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <img src="../../../assets/img/lipo1.jpg">
                        <img src="../../../assets/img/lipo2.jpg">
                        <img src="../../../assets/img/lipo3.jpg">
                      </div>
                    </div>

                    <div class="buttonAdd">
                      <button type="button" (click)="openFolder(content)" class="btn-info btn"><i class="fa fa-plus"
                                                                                                  aria-hidden="true"></i>Add
                        Folder
                      </button>
                    </div>

                  </div>
                </div>


              </div>


              <div class="timeline-item">
                <div class="timeline-date">
                  <div>
                    Nathan Miller 08/ 10 / 2018
                  </div>
                </div>
                <div class="timeline-content">
                  <div class="stateTimeline">


                    <div class="row">
                      <div class="col-md-4">
                        <div class="surgeryDropdown">
                          <ul>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Pre Op</a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Surgery</a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>1.Wk .post-op</a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>3.mo . post-op </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>6 mo.Post.op </a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Lipo misc </a></li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Facial 3 month </a>
                            </li>
                            <li><a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Lipo 1 month</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <img src="../../../assets/img/micro1.jpg">
                        <img src="../../../assets/img/micro2.jpg">
                        <img src="../../../assets/img/micro3.jpg">
                        <img src="../../../assets/img/micro4.png">
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div>
          </div>

        </section>

        <section id="content3">
          <div class="MarginTab2">
            <div class="tab2">
              <div class="tabMain chosen">
                <i class="fa fa-globe" aria-hidden="true">
                </i><h4>All Photos</h4>
              </div>
              <div class="tabMain"><i class="mdi mdi-view-carousel">
              </i><h4>Carousel</h4>
              </div>
              <div class="tabMain"><i class="fa fa-compress" aria-hidden="true">
              </i><h4>Compare Image</h4>
              </div>
              <div class="tabMain"><i class="fa fa-filter" aria-hidden="true">

              </i><h4>Filter on Image</h4>
              </div>
              <div class="tabMain"><i class="fa fa-print" aria-hidden="true">

              </i><h4>Print</h4>
              </div>
            </div>

            <!--............start gallery....................-->

            <div class="page2">
              <div class="pageMain shown">
                <div class="card1">

                  <div id="gallery">
                    <div class="">
                      <div id="image-gallery">
                        <div class="row">
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="https://unsplash.it/500"><img src="https://unsplash.it/500"
                                                                     class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="https://unsplash.it/600"><img src="https://unsplash.it/600"
                                                                     class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="https://unsplash.it/700"><img src="https://unsplash.it/700"
                                                                     class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="https://unsplash.it/800"><img src="https://unsplash.it/800"
                                                                     class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
                            <div class="img-wrapper">
                              <a href="https://unsplash.it/900"><img src="https://unsplash.it/900"
                                                                     class="img-responsive"></a>
                              <div class="img-overlay">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>


                        </div><!-- End row -->
                      </div><!-- End image gallery -->
                    </div><!-- End container -->
                  </div>
                </div>


              </div>
              <!--............start slider....................-->

              <div class="pageMain">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <!--<h3 class="card-title">Carousel</h3>-->
                        <!--<h6 class="card-subtitle">This is basic Carousel</h6>-->
                        <ngb-carousel>
                          <ng-template ngbSlide>
                            <img src="../../assets/img/medical1.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                              <h3 class="text-white font-bold">First slide label</h3>
                              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                          </ng-template>
                          <ng-template ngbSlide>
                            <img src="../../assets/img/medical2.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                              <h3 class="text-white font-bold">Second slide label</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                          </ng-template>
                          <ng-template ngbSlide>
                            <img src="../../assets/img/medical3.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                              <h3 class="text-white font-bold">Third slide label</h3>
                              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                          </ng-template>
                        </ngb-carousel>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!--..............start drag and drop........................-->

              <div class="pageMain">
                <div class="card1">
                  <div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong><p>To compare images,
                    please drag and drop the photos into black rectangle .</p></strong></div>
                  <div class="container">
                    <!--<h2>Drag and Drop</h2>-->
                    <div class="mainComponent">
                      <div id="div1"
                           (drop)="drop($event)"
                           (dragover)="allowDrop($event)">
                        <div class="row">

                          <div class="col-md-3 imgCompare">
                            <img
                              src="../../../assets/img/1.jpg"
                              draggable="true"
                              (dragstart)="drag($event)"
                              id="drag1"
                            >
                          </div>
                          <div class="col-md-3 imgCompare">
                            <img
                              src="../../../assets/img/2.jpg"
                              draggable="true"
                              (dragstart)="drag($event)"
                              id="drag2"
                            >
                          </div>
                          <div class="col-md-3 imgCompare">
                            <img
                              src="../../../assets/img/3.jpg"
                              draggable="true"
                              (dragstart)="drag($event)"
                              id="drag3"
                            >
                          </div>

                        </div>
                      </div>

                      <!--<div class="row">-->
                      <div class="ba-slider" id="div2"
                           (drop)="drop($event)"
                           (dragover)="allowDrop($event)">
                        <img class="divTw" src=""/>
                        <div class="resize">
                          <img class="divTw" src=""/>
                        </div>
                        <span class="handle"></span>
                      </div>
                      <!--</div>-->


                    </div>
                  </div>
                </div>
              </div>


              <!--.................start filter on Images......................-->

              <div class="pageMain">
                <div class="card1">
                  <!--<section>-->
                  <div id="selectionbar"></div>
                  <div id="dynaflex">
                    <figure data-group="Liposuction">
                      <img src="../../../assets/img/lipo1.jpg" alt>
                    </figure>
                    <figure data-group="Liposuction">
                      <img src="../../../assets/img/lipo2.jpg" alt>
                    </figure>
                    <figure data-group="Liposuction">
                      <img src="../../../assets/img/lipo3.jpg" alt>
                    </figure>
                    <figure data-group="Eyes-surgery">
                      <img src="../../../assets/img/eye-surgery2.jpg" alt>
                    </figure>
                    <figure data-group="Eyes-surgery">
                      <img src="../../../assets/img/eye-surgery3.jpg" alt>
                    </figure>
                    <figure data-group="Microneedling">
                      <img src="../../../assets/img/micro1.jpg" alt>
                    </figure>
                    <figure data-group="Microneedling">
                      <img src="../../../assets/img/micro2.jpg" alt>
                    </figure>
                    <figure data-group="Microneedling">
                      <img src="../../../assets/img/micro3.jpg" alt>
                    </figure>
                    <figure data-group="Microneedling">
                      <img src="../../../assets/img/micro4.jpg" alt>
                    </figure>


                  </div>
                  <!--</section>-->
                </div>
              </div>
              <div class="pageMain">
                <div class="card1">
                  <div class="titleCompare"><i class="fa fa-bell" aria-hidden="true"></i><strong><p>Please fill the
                    checkbox to print your Images .</p></strong></div>

                  <div class="printPhoto">
                    <div class="row">

                      <div class="col-md-3">
                        <div class="imgPrint">
                          <div id="divImg1">
                          <img  class="imgShow" src="../../../assets/img/lipo1.jpg">
                          </div>
                            <div class="form-check">
                            <input type="checkbox" name="expCheck[]" value="true" class="form-check-input" id="exampleCheck2">
                            <label class="form-check-label" for="exampleCheck1">Print</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="imgPrint">
                          <div id="divImg2">
                          <img  class="imgShow" src="../../../assets/img/lipo2.jpg">
                          </div>
                            <div class="form-check">
                            <input type="checkbox" name="expCheck[]" class="form-check-input" value="true2" id="exampleCheck3">
                            <label class="form-check-label" for="exampleCheck1">Print</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="imgPrint">
                          <div id="divImg3">
                            <img  class="imgShow" src="../../../assets/img/lipo3.jpg">
                          </div>
                          <div class="form-check">
                            <input type="checkbox" name="expCheck[]" class="form-check-input" value="true3" id="exampleCheck4">
                            <label class="form-check-label" for="exampleCheck1">Print</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                      <div class="imgPrint">
                        <div id="divImg4">
                          <img  class="imgShow" src="../../../assets/img/micro4.png">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" name="expCheck[]" class="form-check-input" value="true3" id="exampleCheck5">
                          <label class="form-check-label" for="exampleCheck1">Print</label>
                        </div>
                      </div>
                    </div>

                      <div class="col-md-3">
                        <div class="imgPrint">
                          <div id="divImg5">
                            <img  class="imgShow" src="../../../assets/img/micro1.jpg">
                          </div>
                          <div class="form-check">
                            <input type="checkbox" name="expCheck[]" class="form-check-input" value="true3" id="exampleCheck6">
                            <label class="form-check-label" for="exampleCheck1">Print</label>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="col-lg-2 col-md-4">
                    <button type="button" class="btn btn-block btn-outline-success" (click)="print()">Print <i class="fa fa-print"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </section>

      </main>
    </div>
    <!--............end tab...........-->

  </div>
</div>


<!--...............start modal Add folder--............................................................-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="color: #009da0 ; font-family: 'Cambria'">Add Default
      Subfolder</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modalSurgery">

    <form>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Assign Surgery</label>
      </div>
      <div class="form-check btnSearch">
        <label class="form-check-label">Physician : </label>

        <button class="btn btn-facebook waves-effect waves-light" (click)="openFolderSearch(contentSearch)"
                type="button"><i class="fa fa-search" aria-hidden="true"></i></button>

      </div>

      <div class="form-group row">
        <label for="example-date-input" class="col-4 col-form-label">Date : </label>
        <div class="col-8">
          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
      </div>

      <div class="radioModal">
        <div class="row">
          <div class="col-4"><span>Folder Types :</span></div>
          <div class="col-8">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                     checked>
              <label class="form-check-label" for="exampleRadios1">Facial
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Liposuction
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option3">
              <label class="form-check-label">Both (Facial , Liposuction)</label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option3">
              <label class="form-check-label">Venus</label>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark button1"   > Show Details<i class="fa fa-forward" aria-hidden="true"></i></button>-->
  </div>
</ng-template>
<!--.........end modal......-->


<!--...............start modal Search............................................................-->
<ng-template #contentSearch let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color: #009da0 ; font-family: 'Cambria'">Search Physician</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modalSurgerySearch">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-3 col-form-label">First Name : </label>
        <div class="col-sm-7">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Last Name :</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Clinic :</label>
        <div class="col-sm-7">
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <button type="button" style="margin-right: 3px" class="btn btn-xs btn-info">Search</button>
      <button type="button" class="btn btn-xs btn-danger">Reset</button>

    </form>
    <div class="responseTable" style="overflow-x:auto;">
    <table style="margin-top: 5px" class="table">
      <thead>
      <tr style="background-color: #FFF  ; color: #009da0 ; font-family: Cambria " >
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Family </th>
        <th scope="col">Status</th>
        <th scope="col">Clinic</th>
        <th scope="col">Position</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
    </div>


  </div>
</ng-template>


