
<section id="gallery">
  <div class="container">
    <div id="image-gallery">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper" >
            <a href="https://unsplash.it/500"><img src="https://unsplash.it/500" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper" >
            <a href="https://unsplash.it/600"><img  src="https://unsplash.it/600" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://unsplash.it/700"><img  src="https://unsplash.it/700" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://unsplash.it/800"><img  src="https://unsplash.it/800" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="https://unsplash.it/900"><img src="https://unsplash.it/900" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>



      </div><!-- End row -->
    </div><!-- End image gallery -->
  </div><!-- End container -->
</section>

<!--......start multi select......................................-->
<section>
  <div id="selectionbar"></div>
  <div id="dynaflex">
    <figure data-group="Liposuction">
      <img src="../../../assets/img/lipo1.jpg" alt>
    </figure>
    <figure data-group="Liposuction">
      <img src="../../../assets/img/lipo2.jpg" alt>
    </figure>
    <figure data-group="Liposuction">
      <img src="../../../assets/img/lipo3.jpg" alt>
    </figure>
    <figure data-group="Eyes-surgery">
      <img src="../../../assets/img/eye-surgery2.jpg" alt>
    </figure>
    <figure data-group="Eyes-surgery">
      <img src="../../../assets/img/eye-surgery3.jpg" alt>
    </figure>
    <figure data-group="Microneedling">
      <img src="../../../assets/img/micro1.jpg" alt>
    </figure>
    <figure data-group="Microneedling">
      <img src="../../../assets/img/micro2.jpg" alt>
    </figure>
    <figure data-group="Microneedling">
      <img src="../../../assets/img/micro3.jpg" alt>
    </figure>
    <figure data-group="Microneedling">
      <img src="../../../assets/img/micro4.jpg" alt>
    </figure>


  </div>
</section>


<!--...................start slider................-->






<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body" >
        <h3 class="card-title">Carousel</h3>
        <h6 class="card-subtitle">This is basic Carousel</h6>
        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="../../assets/img/medical1.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3 class="text-white font-bold">First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/medical2.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h3 class="text-white font-bold">Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../assets/img/medical3.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3 class="text-white font-bold">Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>


<!--........start rag and drop......................................-->
<!--..............drag & drop with compare..........-->
<div class="container">
  <h2>Drag and Drop</h2>
  <div class="mainComponent">
      <div id="div1"
           (drop)="drop($event)"
           (dragover)="allowDrop($event)">
        <div class="row">

        <div class="col-md-3">
          <img
            src="../../../assets/img/1.jpg"
            draggable="true"
            (dragstart)="drag($event)"
            id="drag1"
            style="height: 180px ; width: 270px">
        </div>
        <div class="col-md-3">
          <img
            src="../../../assets/img/2.jpg"
            draggable="true"
            (dragstart)="drag($event)"
            id="drag2"
            style="height: 180px ; width: 270px">
        </div>
        <div class="col-md-3">
          <img
            src="../../../assets/img/3.jpg"
            draggable="true"
            (dragstart)="drag($event)"
            id="drag3"
            style="height: 180px ; width: 270px">
        </div>

      </div>
    </div>

    <!--<div class="row">-->
    <div class="ba-slider" id="div2"
         (drop)="drop($event)"
         (dragover)="allowDrop($event)">
      <img  class="divTw" src=""/>
      <div class="resize">
        <img  class="divTw" src=""/>
      </div>
      <span class="handle"></span>
    </div>
    <!--</div>-->


  </div>
</div>

<!--................compare 2 image..........-->


<!------dropdpwn-------->

<div class="surgeryDropdown">

<div class="dropdown">
  <input type="checkbox" id="my-dropdown" value="" name="my-checkbox">
  <label for="my-dropdown"
         data-toggle="dropdown">
    Choose one
  </label>
  <ul>
    <li><a href="#">Coffee</a></li>
    <li><a href="#">Coverage</a></li>
    <li><a href="https://twitter.com/hashtag/covfefe">Covfefe</a></li>
  </ul>
</div>
</div>

<div class="container filterNew">

  <div class="main">

    <h1>MYLOGO.COM</h1>
    <hr>

    <h2>PORTFOLIO</h2>

    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('nature')"> Nature</button>
      <button class="btn" onclick="filterSelection('cars')"> Cars</button>
      <button class="btn" onclick="filterSelection('people')"> People</button>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column nature">
        <div class="content">
          <img src="../../../assets/img/lipo1.jpg" alt="Mountains" style="width:100%">
          <h4>Mountains</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <img src="../../../assets/img/lipo2.jpg" alt="Lights" style="width:100%">
          <h4>Lights</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
          <img src="../../../assets/img/lipo3.jpg" alt="Nature" style="width:100%">
          <h4>Forest</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>

      <div class="column cars">
        <div class="content">
          <img src="../../../assets/img/micro1.jpg" alt="Car" style="width:100%">
          <h4>Retro</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
          <img src="../../../assets/img/micro2.jpg" alt="Car" style="width:100%">
          <h4>Fast</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
          <img src="../../../assets/img/micro3.jpg" alt="Car" style="width:100%">
          <h4>Classic</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>

      <div class="column people">
        <div class="content">
          <img src="../../../assets/img/micro4.png" alt="Car" style="width:100%">
          <h4>Girl</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
          <img src="../../../assets/img/lipo3.jpg" alt="Car" style="width:100%">
          <h4>Man</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
          <img src="../../../assets/img/lipo3.jpg" alt="Car" style="width:100%">
          <h4>Woman</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <!-- END GRID -->
    </div>

    <!-- END MAIN -->
  </div>
</div>

































