
#gallery {
  padding-top: 40px;
  @media screen and (min-width: 991px) {
    padding: 60px 30px 0 30px;
  }
}

.img-wrapper {
  position: relative;
  margin-top: 15px;
  img {
    width: 100%;
  }
}
.img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  i {
    color: #fff;
    font-size: 3em;
  }
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  // Removes blue highlight
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    margin: 0;
    width: 80%;
    height: auto;
    object-fit: contain;
    padding: 5%;
    @media screen and (min-width:768px) {
      width: 60%;
    }
    @media screen and (min-width:1200px) {
      width: 50%;
    }
  }
}

#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    opacity: 0.7;
  }
  @media screen and (min-width:768px) {
    font-size: 3em;
  }
}

/*........start for multi select......*/
#selectionbar {
  max-width: 1000px;
  margin: 0 auto;
  background: rgba(255,255,255,0.3);
  text-align: center;
  padding: .5rem;
  color: #fff;
}
#dynaflex {
  display: flex;
  font-size: 0;
  flex-flow: row wrap;
  max-width: 1000px;
  margin: 0 auto;
}
#dynaflex figure {
  margin: 0; min-width: 201px;
  flex: 0.67; transition: .5s;
}
#dynaflex figure.cub {
  flex: 0.568;
  min-width: 170.49px;
}
#dynaflex figure.on-grass {
  flex: 1;
  min-width: 300px;
}
#dynaflex figure.diminish {
  min-width: 0; flex: 0;
}
#dynaflex figure img {
  width: 100%;
  height: auto;
}
/*........................................................................start slider......................................*/
.card img {
  height: 450px;
  width: 100% !important;
}

//..................................................end slider.........................................................//

//.......................................start drag and drop..............................................................//
#div1 {
  /*float: left;*/
  /*width: 270px;*/
  height: 180px;
  margin: 10px;
  /*padding: 10px;*/
  /*border: 1px solid black;*/
}
#div2 {
  /*float: left;*/
  width: 800px;
  height: 400px;
  /*margin: 10px;*/
  /*padding: 10px;*/
  /*border: 1px solid black;*/
}









//.handle { /* Thin line seperator */
//  position:absolute;
//  left:50%;
//  top:0;
//  bottom:0;
//  width:4px;
//  margin-left:-2px;
//
//  background: rgba(0,0,0,.5);
//  cursor: ew-resize;
//}

//.handle:after {  /* Big orange knob  */
//  position: absolute;
//  top: 50%;
//  width: 64px;
//  height: 64px;
//  margin: -32px 0 0 -32px;
//
//  content:'\21d4';
//  color:white;
//  font-weight:bold;
//  font-size:36px;
//  text-align:center;
//  line-height:64px;
//
//  background: #ffb800; /* @orange */
//  border:1px solid #e6a600; /* darken(@orange, 5%) */
//  border-radius: 50%;
//  transition:all 0.3s ease;
//  box-shadow:
//    0 2px 6px rgba(0,0,0,.3),
//    inset 0 2px 0 rgba(255,255,255,.5),
//    inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
//}

//.draggable:after {
//  width: 48px;
//  height: 48px;
//  margin: -24px 0 0 -24px;
//  line-height:48px;
//  font-size:30px;
//}


/*..................*/

//@import "lesshat";

.ba-slider {
  position: relative;
  overflow: hidden;
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;

  content:'\21d4';
  color:white;
  font-weight:bold;
  font-size:36px;
  text-align:center;
  line-height:64px;

  background: #ffb800; /* @orange */
  border:1px solid #e6a600; /* darken(@orange, 5%) */
  border-radius: 50%;
  transition:all 0.3s ease;
  box-shadow:
    0 2px 6px rgba(0,0,0,.3),
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/
}

.draggable:after {
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  line-height:48px;
  font-size:30px;
}

/*......my self style......*/
.mainComponent .row{
  border: 2px dashed gray;
}
.ba-slider {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  /*width: 60%;*/
  border: 3px solid #302eb6;
  /*margin: 10px 0px;*/
}

//.......................................end drag and drop..............................................................//

///......................drop down.........................


.surgeryDropdown .dropdown {
  position: relative;
  display: inline-block;
}

.surgeryDropdown .dropdown > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.surgeryDropdown .dropdown > label,
.surgeryDropdown .dropdown > a[role="button"] {
  display: inline-block;
  padding: 6px 15px;
  color: #333;
  line-height: 1.5em;
  text-decoration: none;
  border: 1px solid #8c8c8c;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.surgeryDropdown .dropdown > label:hover,
.surgeryDropdown .dropdown > a[role="button"]:hover,
.surgeryDropdown .dropdown > a[role="button"]:focus {
  border-color: #333;
}

.surgeryDropdown .dropdown > label:after,
.surgeryDropdown .dropdown > a[role="button"]:after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 6px;
}

.surgeryDropdown .dropdown > ul {
  position: absolute;
  z-index: 999;
  display: block;
  left: -100vw;
  top: calc(1.5em + 14px);
  border: 1px solid #8c8c8c;
  background: #fff;
  padding: 6px 0;
  margin: 0;
  list-style: none;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
  box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.surgeryDropdown .dropdown > ul a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  color: #333;
}

.surgeryDropdown .dropdown > ul a:hover,
.surgeryDropdown .dropdown > ul a:focus {
  background: #ececec;
}

.surgeryDropdown .dropdown > input[type="checkbox"]:checked ~ ul,
.surgeryDropdown .dropdown > ul:target {
  left: 0;
}

.surgeryDropdown .dropdown > [type="checkbox"]:checked + label:after,
.surgeryDropdown .dropdown > ul:target ~ a:after {
  content: "\f0d8";
}

.surgeryDropdown .dropdown a.close {
  display: none;
}

.surgeryDropdown .dropdown > ul:target ~ a.close {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-indent: -100vw;
  z-index: 1000;
}
.surgeryDropdown .dropdown + h2 {
  margin-top: 60px;
}
/*........................filter new.......*/
.filterNew .main {
  max-width: 1000px;
  margin: auto;
}

.filterNew h1 {
  font-size: 50px;
  word-break: break-all;
}

.filterNew .row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.filterNew .row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.filterNew .column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.filterNew .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.filterNew .content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.filterNew .show {
  display: block;
}

/* Style the buttons */
.filterNew .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.filterNew .btn:hover {
  background-color: #ddd;
}

.filterNew .btn.active {
  background-color: #666;
  color: white;
}

