<div class="container">
  <h5>upload image</h5>

<div class="upload">
  <div class="uploadImage">upload image 2</div>


  <!--<form [formGroup]="editForm" name="editForm" role="form" novalidate (ngSubmit)="save()"-->
        <!--#editFormUolpad="ngForm">-->
    <form name="editForm" role="form" novalidate (ngSubmit)="savePatientId()" [formGroup]="editForm">


    <div class="form-group" [hidden]="!photo.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" formControlName="id"
             readonly />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_title">Title</label>
      <input type="text" class="form-control" name="title" id="field_title"
             formControlName="title"/>
      <div *ngIf="editForm.get('title').invalid && (editForm.get('title').dirty || editForm.get('title').touched)">
        <small class="form-text text-danger"
               *ngIf="editForm.get('title').errors.required">
          This field is required.
        </small>
      </div>
    </div>

  <div class="image-upload">
    <img [src]="imageSrc"  height="200"/>
    <input type="hidden" class="form-control" name="image" id="field_image"
           formControlName="image"/>
    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
           formControlName="imageContentType" />
    <input  type="file"  accept="image/*" (change)="handleInputChange($event)" />
  </div>

      <div class="form-group">
        <!--<label class="form-control-label" for="field_amazonLink">Amazon Link</label>-->
        <input type="hidden" class="form-control" name="amazonLink" id="field_amazonLink"
               formControlName="amazonLink"/>
      </div>
      <div class="form-group">
        <!--<label class="form-control-label" for="field_amazonId">Amazon Id</label>-->
        <input type="hidden" class="form-control" name="amazonId" id="field_amazonId"
               formControlName="amazonId"/>
      </div>


    <div class="buttonSave" style="margin-top: 50px" >
    <button type="submit" id="save-entity" [disabled]=" isSaving"  class="btn btn-primary">
      <i class="fa fa-save"></i><span>Save</span>
    </button>
    </div>

  </form>



</div >
</div>

<!--....start find id---.........-->
<div class="container">
  <div class="photoId" *ngFor=" let row of photoPatient;">

    <h1>title :  {{row.title}}</h1>
    <img src="{{row.amazonLink}}" style="width: 300px ; height: 300px"  />
    <!--<h1>title :  {{state.amazonLink}}</h1>-->

  </div>
</div>
<!--....start find id---.........-->


<!--....start find cat id---.........-->
<div class="container">
  <div class="photoId" *ngFor=" let row of photoCat;">

    <h1>title :  {{row.title}}</h1>
    <h1>title :  category </h1>
    <img src="{{row.amazonLink}}" style="width: 300px ; height: 300px"  />
    <!--<h1>title :  {{state.amazonLink}}</h1>-->

  </div>
</div>
<!--....start find  catid---.........-->

<!--....start... delete owner id---..........................-->
<div class="button-group container" style="margin-top: 25px">

  <button type="button" class="btn btn-danger" (click)="deletePhoto(14)">Delete</button>
</div>
<!--...............................end delete owner id..............................-->

<!--...............................save category item name..............................-->
<form [formGroup]="catGroup" name="editForm" role="form" novalidate (ngSubmit)="saveCategory()"
      #editFormFive="ngForm">

  <div class="borderForm">
    <div class="container mainPage">
      <div class="paddingMain">

          <div class="row">

              <div class="form-group borderValid col-md-6">
                <label>item Name</label>
                <input type="text" class="form-control" placeholder="" name="itemName"
                       [formControl]="itemName" style="text-transform: uppercase"
                       [(ngModel)]="appCategory.itemName">
              </div>
            </div>

          <button type="submit" id="save-cat" [disabled]=" isSaving"  class="btn btn-primary">
            <i class="fa fa-save"></i>&nbsp;<span>Save Cat</span>
          </button>

        <div class="button-group container" style="margin-top: 25px">

          <button type="button" class="btn btn-danger" (click)="deleteCategory(id)">DeleteCat</button>
        </div>



        <div style="margin-top: 10px">
          <ngb-alert *ngIf="confirmSaveMsgForm" (close)="confirmSaveMsgForm=false" type="success"
                   > The form has been saved successfully
          </ngb-alert>
          <ngb-alert *ngIf="errorSaveMsgForm" (close)="errorSaveMsgForm=false" type="danger"
                     > Problem Saving form
          </ngb-alert>

        </div>
      </div>

    </div>

  </div>


</form>

<!--...............................save category item name..............................-->


