.patientMain{
  box-shadow:  1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f7f4fa00;
  margin: 50px 0px;
  padding: 0px 20px;
  font-family: Arial;
}
.titlePatient{
  padding-top: 50px;
  border-bottom: 1px solid #05451e;
  color: #05451e;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.titlePatient h5{
  font-weight: bold;
  font-family: Cambria;
}
.titlePatient i.fa-user{
  padding-right: 5px;
}
.searchPatient .form-row:first-child{
  padding-top: 15px;
}


// Buttons
$white: #FFFFFF;
$black: #333333;


.--bold { font-weight: 700; }

$button-2: #75d6ff;
$button-2-hover: lighten($button-2, 15%);

.button-2 {
  font-size: 14px;
  border: 2px solid $button-2;
  border-radius: 4px;
  padding:3px 10px;
  color: $white;
  background: linear-gradient(to left, $button-2 50%, $button-2-hover 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.35s ease;
}
.button-2:hover  {
  background-position: left top;
  color: #1199d3;}
.ButtonPatient i.fa-search{
  padding-left: 10px;
}
.form-group label{
  color: #848a8f !important;
  font-size: 15px !important;
}
.form-group .form-control{
  //color: darkgray !important;
  font-size: 13px !important;
}
$button-3: #ff3844;
$button-3-hover: lighten($button-3, 15%);

.button-3 {
  font-size: 14px;
  border: 2px solid $button-3;
  border-radius: 4px;
  padding:3px 10px;
  color: $white;
  background: linear-gradient(to left, $button-3 50%, $button-3-hover 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.35s ease;
}
.button-3:hover  {
  background-position: left top;
  color: #d31116;}
.ButtonPatient i.fa-repeat{
  padding-left: 10px;
}
.button-3:focus{
  box-shadow: 0px 0px 0px  !important;
}
.button-2:focus{
  box-shadow: 0px 0px 0px  !important;
}
.tablePatient {
  margin-top: 30px;
}
.HeadTitle th{
  color: #fff;
  font-family: "Cambria", cursive, sans-serif;
  font-size: 14px;
  background-color: #000;
}

.tablePatient .table-striped tbody tr:nth-of-type(odd) {
  background-color: #84998926 !important;
}
.tablePatient td {
  color: gray;
}
.tablePatient th {
  color: #fff ;
}
.firstCol td{
  cursor: pointer;
}
.firstCol th{
  color: black;
}
.firstCol td:hover{
  color: #00aaff;
}
.modalPatient {
  padding: 20px;
  font-family: Arial;
}
.modalPatient i.fa-user{
  margin-right: 5px;
}
.modal-header .modal-title{
  font-family: "Cambria", cursive, sans-serif;
  font-size: 20px;
  color: #745af2;
}
.modal-footer i.fa-forward{
  margin-left: 15px;
}
.button1{
  color: $white;
  background: linear-gradient(to left, #343a40 50%, gray 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 0.35s ease;
}
.button1:hover  {
  background-position: left top;
  color: #343a40;}

.tablePatient tr:nth-child(even){
  background-color: white !important;
}
.tablePatient {
  border: 1px solid #918c8c;
}
.ButtonPatient button{
  margin-right: 5px;
}
.tablePatient .table{
  font-family: Arial;
}
.modal-footer .btn-outline-primary{
  width: 148px !important;
  float: right;
  font-family: Cambria;
}
.buttonSave i.fa-save{
  margin-right: 5px;
}
